<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>com.aurorahdr2019.auh</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>documentbundle</string>
	<key>CFBundlePackageType</key>
	<string>auh</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.1</string>
	<key>CFBundleVersion</key>
	<string>6438</string>
	<key>MPHistoryDict</key>
	<dict>
		<key>cachedTexturesBookmarksDict</key>
		<dict>
			<key>/Users/gjr/Library/Application Support/MacPhun Software/Aurora HDR/History/DDE1BA7C-0D3F-4F02-B77A-01E9856D3AE0/resources/0955BCA9-3BB7-4D23-99F8-C7D0C933B001.cube</key>
			<data>
			Ym9va/gDAAAAAAQQMAAAAPpnW4CnMJhrkhq5ARmIMknFFPyJqpeo
			W+YwGpk/EF7V9AIAAAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMA
			AAADAAAAAQEAAGdqcgAHAAAAAQEAAExpYnJhcnkAEwAAAAEBAABB
			cHBsaWNhdGlvbiBTdXBwb3J0ABAAAAABAQAATWFjUGh1biBTb2Z0
			d2FyZQoAAAABAQAAQXVyb3JhIEhEUgAABwAAAAEBAABIaXN0b3J5
			ACQAAAABAQAARERFMUJBN0MtMEQzRi00RjAyLUI3N0EtMDFFOTg1
			NkQzQUUwCQAAAAEBAAByZXNvdXJjZXMAAAApAAAAAQEAADA5NTVC
			Q0E5LTNCQjctNEQyMy05OUY4LUM3RDBDOTMzQjAwMS5jdWJlAAAA
			KAAAAAEGAAAQAAAAIAAAACwAAAA8AAAAWAAAAHAAAACEAAAAlAAA
			AMAAAADUAAAACAAAAAQDAADcaQYAAAAAAAgAAAAEAwAAtasJAAAA
			AAAIAAAABAMAALqrCQAAAAAACAAAAAQDAADJqwkAAAAAAAgAAAAE
			AwAA+pe1BwIAAAAIAAAABAMAAE04HgkCAAAACAAAAAQDAAAgwDkV
			AgAAAAgAAAAEAwAAvp1IFQIAAAAIAAAABAMAAL+dSBUCAAAACAAA
			AAQDAAB4nkgVAgAAACgAAAABBgAAOAEAAEgBAABYAQAAaAEAAHgB
			AACIAQAAmAEAAKgBAAC4AQAAyAEAAAgAAAAABAAAQcKxheAAAAAY
			AAAAAQIAAAEAAAAAAAAADwAAAAAAAAAAAAAAAAAAAAgAAAAEAwAA
			CAAAAAAAAAAEAAAAAwMAAPUBAAAIAAAAAQkAAGZpbGU6Ly8vBgAA
			AAEBAABWdWxjYW4AAAgAAAAEAwAAAJAgaHQAAAAIAAAAAAQAAEHE
			Um5rAAAAJAAAAAEBAABCNUJDMjg3Qy1CQzg2LTMzOEEtQkNBRS03
			QjhCMjlCQjEzRTUYAAAAAQIAAIEAAAABAAAA7xMAAAEAAAAAAAAA
			AAAAAAEAAAABAQAALwAAAAAAAAABBQAAzAAAAP7///8BAAAAAAAA
			ABAAAAAEEAAACAEAAAAAAAAFEAAA2AEAAAAAAAAQEAAAGAIAAAAA
			AABAEAAACAIAAAAAAAACIAAA4AIAAAAAAAAFIAAAVAIAAAAAAAAQ
			IAAAZAIAAAAAAAARIAAAlAIAAAAAAAASIAAAdAIAAAAAAAATIAAA
			hAIAAAAAAAAgIAAAwAIAAAAAAAAwIAAA7AIAAAAAAAABwAAAOAIA
			AAAAAAARwAAAIAAAAAAAAAASwAAASAIAAAAAAAAQ0AAABAAAAAAA
			AAA=
			</data>
			<key>/Users/gjr/Library/Application Support/MacPhun Software/Aurora HDR/History/DDE1BA7C-0D3F-4F02-B77A-01E9856D3AE0/resources/0E81EE28-59C4-4E90-8804-321137E2177E.cube</key>
			<data>
			Ym9va/gDAAAAAAQQMAAAAIhQleg/9KGf/Q3Ui0IINHbHsAHEDmWj
			YEe6C2AhXZeg9AIAAAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMA
			AAADAAAAAQEAAGdqcgAHAAAAAQEAAExpYnJhcnkAEwAAAAEBAABB
			cHBsaWNhdGlvbiBTdXBwb3J0ABAAAAABAQAATWFjUGh1biBTb2Z0
			d2FyZQoAAAABAQAAQXVyb3JhIEhEUgAABwAAAAEBAABIaXN0b3J5
			ACQAAAABAQAARERFMUJBN0MtMEQzRi00RjAyLUI3N0EtMDFFOTg1
			NkQzQUUwCQAAAAEBAAByZXNvdXJjZXMAAAApAAAAAQEAADBFODFF
			RTI4LTU5QzQtNEU5MC04ODA0LTMyMTEzN0UyMTc3RS5jdWJlAAAA
			KAAAAAEGAAAQAAAAIAAAACwAAAA8AAAAWAAAAHAAAACEAAAAlAAA
			AMAAAADUAAAACAAAAAQDAADcaQYAAAAAAAgAAAAEAwAAtasJAAAA
			AAAIAAAABAMAALqrCQAAAAAACAAAAAQDAADJqwkAAAAAAAgAAAAE
			AwAA+pe1BwIAAAAIAAAABAMAAE04HgkCAAAACAAAAAQDAAAgwDkV
			AgAAAAgAAAAEAwAAvp1IFQIAAAAIAAAABAMAAL+dSBUCAAAACAAA
			AAQDAABGoEgVAgAAACgAAAABBgAAOAEAAEgBAABYAQAAaAEAAHgB
			AACIAQAAmAEAAKgBAAC4AQAAyAEAAAgAAAAABAAAQcKxheAAAAAY
			AAAAAQIAAAEAAAAAAAAADwAAAAAAAAAAAAAAAAAAAAgAAAAEAwAA
			CAAAAAAAAAAEAAAAAwMAAPUBAAAIAAAAAQkAAGZpbGU6Ly8vBgAA
			AAEBAABWdWxjYW4AAAgAAAAEAwAAAJAgaHQAAAAIAAAAAAQAAEHE
			Um5rAAAAJAAAAAEBAABCNUJDMjg3Qy1CQzg2LTMzOEEtQkNBRS03
			QjhCMjlCQjEzRTUYAAAAAQIAAIEAAAABAAAA7xMAAAEAAAAAAAAA
			AAAAAAEAAAABAQAALwAAAAAAAAABBQAAzAAAAP7///8BAAAAAAAA
			ABAAAAAEEAAACAEAAAAAAAAFEAAA2AEAAAAAAAAQEAAAGAIAAAAA
			AABAEAAACAIAAAAAAAACIAAA4AIAAAAAAAAFIAAAVAIAAAAAAAAQ
			IAAAZAIAAAAAAAARIAAAlAIAAAAAAAASIAAAdAIAAAAAAAATIAAA
			hAIAAAAAAAAgIAAAwAIAAAAAAAAwIAAA7AIAAAAAAAABwAAAOAIA
			AAAAAAARwAAAIAAAAAAAAAASwAAASAIAAAAAAAAQ0AAABAAAAAAA
			AAA=
			</data>
			<key>/Users/gjr/Library/Application Support/MacPhun Software/Aurora HDR/History/DDE1BA7C-0D3F-4F02-B77A-01E9856D3AE0/resources/67CF3AD5-48BF-4959-B963-19A4110E2763.cube</key>
			<data>
			Ym9va/gDAAAAAAQQMAAAAP5R+0QsOHbG9zS4uJnjVvRescULO4tQ
			vpoKNaZwRRPt9AIAAAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMA
			AAADAAAAAQEAAGdqcgAHAAAAAQEAAExpYnJhcnkAEwAAAAEBAABB
			cHBsaWNhdGlvbiBTdXBwb3J0ABAAAAABAQAATWFjUGh1biBTb2Z0
			d2FyZQoAAAABAQAAQXVyb3JhIEhEUgAABwAAAAEBAABIaXN0b3J5
			ACQAAAABAQAARERFMUJBN0MtMEQzRi00RjAyLUI3N0EtMDFFOTg1
			NkQzQUUwCQAAAAEBAAByZXNvdXJjZXMAAAApAAAAAQEAADY3Q0Yz
			QUQ1LTQ4QkYtNDk1OS1COTYzLTE5QTQxMTBFMjc2My5jdWJlAAAA
			KAAAAAEGAAAQAAAAIAAAACwAAAA8AAAAWAAAAHAAAACEAAAAlAAA
			AMAAAADUAAAACAAAAAQDAADcaQYAAAAAAAgAAAAEAwAAtasJAAAA
			AAAIAAAABAMAALqrCQAAAAAACAAAAAQDAADJqwkAAAAAAAgAAAAE
			AwAA+pe1BwIAAAAIAAAABAMAAE04HgkCAAAACAAAAAQDAAAgwDkV
			AgAAAAgAAAAEAwAAvp1IFQIAAAAIAAAABAMAAL+dSBUCAAAACAAA
			AAQDAADvoEgVAgAAACgAAAABBgAAOAEAAEgBAABYAQAAaAEAAHgB
			AACIAQAAmAEAAKgBAAC4AQAAyAEAAAgAAAAABAAAQcKxheAAAAAY
			AAAAAQIAAAEAAAAAAAAADwAAAAAAAAAAAAAAAAAAAAgAAAAEAwAA
			CAAAAAAAAAAEAAAAAwMAAPUBAAAIAAAAAQkAAGZpbGU6Ly8vBgAA
			AAEBAABWdWxjYW4AAAgAAAAEAwAAAJAgaHQAAAAIAAAAAAQAAEHE
			Um5rAAAAJAAAAAEBAABCNUJDMjg3Qy1CQzg2LTMzOEEtQkNBRS03
			QjhCMjlCQjEzRTUYAAAAAQIAAIEAAAABAAAA7xMAAAEAAAAAAAAA
			AAAAAAEAAAABAQAALwAAAAAAAAABBQAAzAAAAP7///8BAAAAAAAA
			ABAAAAAEEAAACAEAAAAAAAAFEAAA2AEAAAAAAAAQEAAAGAIAAAAA
			AABAEAAACAIAAAAAAAACIAAA4AIAAAAAAAAFIAAAVAIAAAAAAAAQ
			IAAAZAIAAAAAAAARIAAAlAIAAAAAAAASIAAAdAIAAAAAAAATIAAA
			hAIAAAAAAAAgIAAAwAIAAAAAAAAwIAAA7AIAAAAAAAABwAAAOAIA
			AAAAAAARwAAAIAAAAAAAAAASwAAASAIAAAAAAAAQ0AAABAAAAAAA
			AAA=
			</data>
			<key>/Users/gjr/Library/Application Support/MacPhun Software/Aurora HDR/History/DDE1BA7C-0D3F-4F02-B77A-01E9856D3AE0/resources/735871A8-238E-49BD-B56B-DBFE4B9ADCC9.cube</key>
			<data>
			Ym9va/gDAAAAAAQQMAAAADTwyRR2YGC/V3yFXjYcr71WRP5e3aOX
			pdUVjA+4xXiI9AIAAAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMA
			AAADAAAAAQEAAGdqcgAHAAAAAQEAAExpYnJhcnkAEwAAAAEBAABB
			cHBsaWNhdGlvbiBTdXBwb3J0ABAAAAABAQAATWFjUGh1biBTb2Z0
			d2FyZQoAAAABAQAAQXVyb3JhIEhEUgAABwAAAAEBAABIaXN0b3J5
			ACQAAAABAQAARERFMUJBN0MtMEQzRi00RjAyLUI3N0EtMDFFOTg1
			NkQzQUUwCQAAAAEBAAByZXNvdXJjZXMAAAApAAAAAQEAADczNTg3
			MUE4LTIzOEUtNDlCRC1CNTZCLURCRkU0QjlBRENDOS5jdWJlAAAA
			KAAAAAEGAAAQAAAAIAAAACwAAAA8AAAAWAAAAHAAAACEAAAAlAAA
			AMAAAADUAAAACAAAAAQDAADcaQYAAAAAAAgAAAAEAwAAtasJAAAA
			AAAIAAAABAMAALqrCQAAAAAACAAAAAQDAADJqwkAAAAAAAgAAAAE
			AwAA+pe1BwIAAAAIAAAABAMAAE04HgkCAAAACAAAAAQDAAAgwDkV
			AgAAAAgAAAAEAwAAvp1IFQIAAAAIAAAABAMAAL+dSBUCAAAACAAA
			AAQDAABNoEgVAgAAACgAAAABBgAAOAEAAEgBAABYAQAAaAEAAHgB
			AACIAQAAmAEAAKgBAAC4AQAAyAEAAAgAAAAABAAAQcKxheAAAAAY
			AAAAAQIAAAEAAAAAAAAADwAAAAAAAAAAAAAAAAAAAAgAAAAEAwAA
			CAAAAAAAAAAEAAAAAwMAAPUBAAAIAAAAAQkAAGZpbGU6Ly8vBgAA
			AAEBAABWdWxjYW4AAAgAAAAEAwAAAJAgaHQAAAAIAAAAAAQAAEHE
			Um5rAAAAJAAAAAEBAABCNUJDMjg3Qy1CQzg2LTMzOEEtQkNBRS03
			QjhCMjlCQjEzRTUYAAAAAQIAAIEAAAABAAAA7xMAAAEAAAAAAAAA
			AAAAAAEAAAABAQAALwAAAAAAAAABBQAAzAAAAP7///8BAAAAAAAA
			ABAAAAAEEAAACAEAAAAAAAAFEAAA2AEAAAAAAAAQEAAAGAIAAAAA
			AABAEAAACAIAAAAAAAACIAAA4AIAAAAAAAAFIAAAVAIAAAAAAAAQ
			IAAAZAIAAAAAAAARIAAAlAIAAAAAAAASIAAAdAIAAAAAAAATIAAA
			hAIAAAAAAAAgIAAAwAIAAAAAAAAwIAAA7AIAAAAAAAABwAAAOAIA
			AAAAAAARwAAAIAAAAAAAAAASwAAASAIAAAAAAAAQ0AAABAAAAAAA
			AAA=
			</data>
			<key>/Users/gjr/Library/Application Support/MacPhun Software/Aurora HDR/History/DDE1BA7C-0D3F-4F02-B77A-01E9856D3AE0/resources/7C49E21D-1710-4E1B-A4D9-AEF7D17B6A35.cube</key>
			<data>
			Ym9va/gDAAAAAAQQMAAAABq1pw1eRcm3Qf36Yq/wmJYfDzW0cq09
			B/wfCTeYB+Y+9AIAAAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMA
			AAADAAAAAQEAAGdqcgAHAAAAAQEAAExpYnJhcnkAEwAAAAEBAABB
			cHBsaWNhdGlvbiBTdXBwb3J0ABAAAAABAQAATWFjUGh1biBTb2Z0
			d2FyZQoAAAABAQAAQXVyb3JhIEhEUgAABwAAAAEBAABIaXN0b3J5
			ACQAAAABAQAARERFMUJBN0MtMEQzRi00RjAyLUI3N0EtMDFFOTg1
			NkQzQUUwCQAAAAEBAAByZXNvdXJjZXMAAAApAAAAAQEAADdDNDlF
			MjFELTE3MTAtNEUxQi1BNEQ5LUFFRjdEMTdCNkEzNS5jdWJlAAAA
			KAAAAAEGAAAQAAAAIAAAACwAAAA8AAAAWAAAAHAAAACEAAAAlAAA
			AMAAAADUAAAACAAAAAQDAADcaQYAAAAAAAgAAAAEAwAAtasJAAAA
			AAAIAAAABAMAALqrCQAAAAAACAAAAAQDAADJqwkAAAAAAAgAAAAE
			AwAA+pe1BwIAAAAIAAAABAMAAE04HgkCAAAACAAAAAQDAAAgwDkV
			AgAAAAgAAAAEAwAAvp1IFQIAAAAIAAAABAMAAL+dSBUCAAAACAAA
			AAQDAABunkgVAgAAACgAAAABBgAAOAEAAEgBAABYAQAAaAEAAHgB
			AACIAQAAmAEAAKgBAAC4AQAAyAEAAAgAAAAABAAAQcKxheAAAAAY
			AAAAAQIAAAEAAAAAAAAADwAAAAAAAAAAAAAAAAAAAAgAAAAEAwAA
			CAAAAAAAAAAEAAAAAwMAAPUBAAAIAAAAAQkAAGZpbGU6Ly8vBgAA
			AAEBAABWdWxjYW4AAAgAAAAEAwAAAJAgaHQAAAAIAAAAAAQAAEHE
			Um5rAAAAJAAAAAEBAABCNUJDMjg3Qy1CQzg2LTMzOEEtQkNBRS03
			QjhCMjlCQjEzRTUYAAAAAQIAAIEAAAABAAAA7xMAAAEAAAAAAAAA
			AAAAAAEAAAABAQAALwAAAAAAAAABBQAAzAAAAP7///8BAAAAAAAA
			ABAAAAAEEAAACAEAAAAAAAAFEAAA2AEAAAAAAAAQEAAAGAIAAAAA
			AABAEAAACAIAAAAAAAACIAAA4AIAAAAAAAAFIAAAVAIAAAAAAAAQ
			IAAAZAIAAAAAAAARIAAAlAIAAAAAAAASIAAAdAIAAAAAAAATIAAA
			hAIAAAAAAAAgIAAAwAIAAAAAAAAwIAAA7AIAAAAAAAABwAAAOAIA
			AAAAAAARwAAAIAAAAAAAAAASwAAASAIAAAAAAAAQ0AAABAAAAAAA
			AAA=
			</data>
			<key>/Users/gjr/Library/Application Support/MacPhun Software/Aurora HDR/History/DDE1BA7C-0D3F-4F02-B77A-01E9856D3AE0/resources/8576FFF7-A3AB-4885-91F5-648A7C225B5D.cube</key>
			<data>
			Ym9va/gDAAAAAAQQMAAAACaWo35DmiHLbQPUOlcDLOjkGUY4Akc0
			fyb8jqAZNPoM9AIAAAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMA
			AAADAAAAAQEAAGdqcgAHAAAAAQEAAExpYnJhcnkAEwAAAAEBAABB
			cHBsaWNhdGlvbiBTdXBwb3J0ABAAAAABAQAATWFjUGh1biBTb2Z0
			d2FyZQoAAAABAQAAQXVyb3JhIEhEUgAABwAAAAEBAABIaXN0b3J5
			ACQAAAABAQAARERFMUJBN0MtMEQzRi00RjAyLUI3N0EtMDFFOTg1
			NkQzQUUwCQAAAAEBAAByZXNvdXJjZXMAAAApAAAAAQEAADg1NzZG
			RkY3LUEzQUItNDg4NS05MUY1LTY0OEE3QzIyNUI1RC5jdWJlAAAA
			KAAAAAEGAAAQAAAAIAAAACwAAAA8AAAAWAAAAHAAAACEAAAAlAAA
			AMAAAADUAAAACAAAAAQDAADcaQYAAAAAAAgAAAAEAwAAtasJAAAA
			AAAIAAAABAMAALqrCQAAAAAACAAAAAQDAADJqwkAAAAAAAgAAAAE
			AwAA+pe1BwIAAAAIAAAABAMAAE04HgkCAAAACAAAAAQDAAAgwDkV
			AgAAAAgAAAAEAwAAvp1IFQIAAAAIAAAABAMAAL+dSBUCAAAACAAA
			AAQDAABkoEgVAgAAACgAAAABBgAAOAEAAEgBAABYAQAAaAEAAHgB
			AACIAQAAmAEAAKgBAAC4AQAAyAEAAAgAAAAABAAAQcKxheAAAAAY
			AAAAAQIAAAEAAAAAAAAADwAAAAAAAAAAAAAAAAAAAAgAAAAEAwAA
			CAAAAAAAAAAEAAAAAwMAAPUBAAAIAAAAAQkAAGZpbGU6Ly8vBgAA
			AAEBAABWdWxjYW4AAAgAAAAEAwAAAJAgaHQAAAAIAAAAAAQAAEHE
			Um5rAAAAJAAAAAEBAABCNUJDMjg3Qy1CQzg2LTMzOEEtQkNBRS03
			QjhCMjlCQjEzRTUYAAAAAQIAAIEAAAABAAAA7xMAAAEAAAAAAAAA
			AAAAAAEAAAABAQAALwAAAAAAAAABBQAAzAAAAP7///8BAAAAAAAA
			ABAAAAAEEAAACAEAAAAAAAAFEAAA2AEAAAAAAAAQEAAAGAIAAAAA
			AABAEAAACAIAAAAAAAACIAAA4AIAAAAAAAAFIAAAVAIAAAAAAAAQ
			IAAAZAIAAAAAAAARIAAAlAIAAAAAAAASIAAAdAIAAAAAAAATIAAA
			hAIAAAAAAAAgIAAAwAIAAAAAAAAwIAAA7AIAAAAAAAABwAAAOAIA
			AAAAAAARwAAAIAAAAAAAAAASwAAASAIAAAAAAAAQ0AAABAAAAAAA
			AAA=
			</data>
			<key>/Users/gjr/Library/Application Support/MacPhun Software/Aurora HDR/History/DDE1BA7C-0D3F-4F02-B77A-01E9856D3AE0/resources/A15B1BB4-8067-4F4E-A2D0-FAD1F7B7494D.cube</key>
			<data>
			Ym9va/gDAAAAAAQQMAAAAKu21eIY2CHl5w95Ir5sPgH6CHvPCzGt
			3TR2EshhIBv29AIAAAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMA
			AAADAAAAAQEAAGdqcgAHAAAAAQEAAExpYnJhcnkAEwAAAAEBAABB
			cHBsaWNhdGlvbiBTdXBwb3J0ABAAAAABAQAATWFjUGh1biBTb2Z0
			d2FyZQoAAAABAQAAQXVyb3JhIEhEUgAABwAAAAEBAABIaXN0b3J5
			ACQAAAABAQAARERFMUJBN0MtMEQzRi00RjAyLUI3N0EtMDFFOTg1
			NkQzQUUwCQAAAAEBAAByZXNvdXJjZXMAAAApAAAAAQEAAEExNUIx
			QkI0LTgwNjctNEY0RS1BMkQwLUZBRDFGN0I3NDk0RC5jdWJlAAAA
			KAAAAAEGAAAQAAAAIAAAACwAAAA8AAAAWAAAAHAAAACEAAAAlAAA
			AMAAAADUAAAACAAAAAQDAADcaQYAAAAAAAgAAAAEAwAAtasJAAAA
			AAAIAAAABAMAALqrCQAAAAAACAAAAAQDAADJqwkAAAAAAAgAAAAE
			AwAA+pe1BwIAAAAIAAAABAMAAE04HgkCAAAACAAAAAQDAAAgwDkV
			AgAAAAgAAAAEAwAAvp1IFQIAAAAIAAAABAMAAL+dSBUCAAAACAAA
			AAQDAAATn0gVAgAAACgAAAABBgAAOAEAAEgBAABYAQAAaAEAAHgB
			AACIAQAAmAEAAKgBAAC4AQAAyAEAAAgAAAAABAAAQcKxheAAAAAY
			AAAAAQIAAAEAAAAAAAAADwAAAAAAAAAAAAAAAAAAAAgAAAAEAwAA
			CAAAAAAAAAAEAAAAAwMAAPUBAAAIAAAAAQkAAGZpbGU6Ly8vBgAA
			AAEBAABWdWxjYW4AAAgAAAAEAwAAAJAgaHQAAAAIAAAAAAQAAEHE
			Um5rAAAAJAAAAAEBAABCNUJDMjg3Qy1CQzg2LTMzOEEtQkNBRS03
			QjhCMjlCQjEzRTUYAAAAAQIAAIEAAAABAAAA7xMAAAEAAAAAAAAA
			AAAAAAEAAAABAQAALwAAAAAAAAABBQAAzAAAAP7///8BAAAAAAAA
			ABAAAAAEEAAACAEAAAAAAAAFEAAA2AEAAAAAAAAQEAAAGAIAAAAA
			AABAEAAACAIAAAAAAAACIAAA4AIAAAAAAAAFIAAAVAIAAAAAAAAQ
			IAAAZAIAAAAAAAARIAAAlAIAAAAAAAASIAAAdAIAAAAAAAATIAAA
			hAIAAAAAAAAgIAAAwAIAAAAAAAAwIAAA7AIAAAAAAAABwAAAOAIA
			AAAAAAARwAAAIAAAAAAAAAASwAAASAIAAAAAAAAQ0AAABAAAAAAA
			AAA=
			</data>
			<key>/Users/gjr/Library/Application Support/MacPhun Software/Aurora HDR/History/DDE1BA7C-0D3F-4F02-B77A-01E9856D3AE0/resources/A981B213-4E7E-4DD4-A26F-A3CF5FBFD4EA.cube</key>
			<data>
			Ym9va/gDAAAAAAQQMAAAAD2qGJ2m4bcKoZxMTCc1lVvru/Loa4xw
			qvta5OimxDgL9AIAAAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMA
			AAADAAAAAQEAAGdqcgAHAAAAAQEAAExpYnJhcnkAEwAAAAEBAABB
			cHBsaWNhdGlvbiBTdXBwb3J0ABAAAAABAQAATWFjUGh1biBTb2Z0
			d2FyZQoAAAABAQAAQXVyb3JhIEhEUgAABwAAAAEBAABIaXN0b3J5
			ACQAAAABAQAARERFMUJBN0MtMEQzRi00RjAyLUI3N0EtMDFFOTg1
			NkQzQUUwCQAAAAEBAAByZXNvdXJjZXMAAAApAAAAAQEAAEE5ODFC
			MjEzLTRFN0UtNERENC1BMjZGLUEzQ0Y1RkJGRDRFQS5jdWJlAAAA
			KAAAAAEGAAAQAAAAIAAAACwAAAA8AAAAWAAAAHAAAACEAAAAlAAA
			AMAAAADUAAAACAAAAAQDAADcaQYAAAAAAAgAAAAEAwAAtasJAAAA
			AAAIAAAABAMAALqrCQAAAAAACAAAAAQDAADJqwkAAAAAAAgAAAAE
			AwAA+pe1BwIAAAAIAAAABAMAAE04HgkCAAAACAAAAAQDAAAgwDkV
			AgAAAAgAAAAEAwAAvp1IFQIAAAAIAAAABAMAAL+dSBUCAAAACAAA
			AAQDAABnnkgVAgAAACgAAAABBgAAOAEAAEgBAABYAQAAaAEAAHgB
			AACIAQAAmAEAAKgBAAC4AQAAyAEAAAgAAAAABAAAQcKxheAAAAAY
			AAAAAQIAAAEAAAAAAAAADwAAAAAAAAAAAAAAAAAAAAgAAAAEAwAA
			CAAAAAAAAAAEAAAAAwMAAPUBAAAIAAAAAQkAAGZpbGU6Ly8vBgAA
			AAEBAABWdWxjYW4AAAgAAAAEAwAAAJAgaHQAAAAIAAAAAAQAAEHE
			Um5rAAAAJAAAAAEBAABCNUJDMjg3Qy1CQzg2LTMzOEEtQkNBRS03
			QjhCMjlCQjEzRTUYAAAAAQIAAIEAAAABAAAA7xMAAAEAAAAAAAAA
			AAAAAAEAAAABAQAALwAAAAAAAAABBQAAzAAAAP7///8BAAAAAAAA
			ABAAAAAEEAAACAEAAAAAAAAFEAAA2AEAAAAAAAAQEAAAGAIAAAAA
			AABAEAAACAIAAAAAAAACIAAA4AIAAAAAAAAFIAAAVAIAAAAAAAAQ
			IAAAZAIAAAAAAAARIAAAlAIAAAAAAAASIAAAdAIAAAAAAAATIAAA
			hAIAAAAAAAAgIAAAwAIAAAAAAAAwIAAA7AIAAAAAAAABwAAAOAIA
			AAAAAAARwAAAIAAAAAAAAAASwAAASAIAAAAAAAAQ0AAABAAAAAAA
			AAA=
			</data>
			<key>/Users/gjr/Library/Application Support/MacPhun Software/Aurora HDR/History/DDE1BA7C-0D3F-4F02-B77A-01E9856D3AE0/resources/B0A93457-9D6C-46CE-A116-D1FFA22CE355.cube</key>
			<data>
			Ym9va/gDAAAAAAQQMAAAANn2GifTcLMJO6auFbeHxJzdo+oCtZ+0
			db9RRUHYyEkZ9AIAAAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMA
			AAADAAAAAQEAAGdqcgAHAAAAAQEAAExpYnJhcnkAEwAAAAEBAABB
			cHBsaWNhdGlvbiBTdXBwb3J0ABAAAAABAQAATWFjUGh1biBTb2Z0
			d2FyZQoAAAABAQAAQXVyb3JhIEhEUgAABwAAAAEBAABIaXN0b3J5
			ACQAAAABAQAARERFMUJBN0MtMEQzRi00RjAyLUI3N0EtMDFFOTg1
			NkQzQUUwCQAAAAEBAAByZXNvdXJjZXMAAAApAAAAAQEAAEIwQTkz
			NDU3LTlENkMtNDZDRS1BMTE2LUQxRkZBMjJDRTM1NS5jdWJlAAAA
			KAAAAAEGAAAQAAAAIAAAACwAAAA8AAAAWAAAAHAAAACEAAAAlAAA
			AMAAAADUAAAACAAAAAQDAADcaQYAAAAAAAgAAAAEAwAAtasJAAAA
			AAAIAAAABAMAALqrCQAAAAAACAAAAAQDAADJqwkAAAAAAAgAAAAE
			AwAA+pe1BwIAAAAIAAAABAMAAE04HgkCAAAACAAAAAQDAAAgwDkV
			AgAAAAgAAAAEAwAAvp1IFQIAAAAIAAAABAMAAL+dSBUCAAAACAAA
			AAQDAACyoEgVAgAAACgAAAABBgAAOAEAAEgBAABYAQAAaAEAAHgB
			AACIAQAAmAEAAKgBAAC4AQAAyAEAAAgAAAAABAAAQcKxheAAAAAY
			AAAAAQIAAAEAAAAAAAAADwAAAAAAAAAAAAAAAAAAAAgAAAAEAwAA
			CAAAAAAAAAAEAAAAAwMAAPUBAAAIAAAAAQkAAGZpbGU6Ly8vBgAA
			AAEBAABWdWxjYW4AAAgAAAAEAwAAAJAgaHQAAAAIAAAAAAQAAEHE
			Um5rAAAAJAAAAAEBAABCNUJDMjg3Qy1CQzg2LTMzOEEtQkNBRS03
			QjhCMjlCQjEzRTUYAAAAAQIAAIEAAAABAAAA7xMAAAEAAAAAAAAA
			AAAAAAEAAAABAQAALwAAAAAAAAABBQAAzAAAAP7///8BAAAAAAAA
			ABAAAAAEEAAACAEAAAAAAAAFEAAA2AEAAAAAAAAQEAAAGAIAAAAA
			AABAEAAACAIAAAAAAAACIAAA4AIAAAAAAAAFIAAAVAIAAAAAAAAQ
			IAAAZAIAAAAAAAARIAAAlAIAAAAAAAASIAAAdAIAAAAAAAATIAAA
			hAIAAAAAAAAgIAAAwAIAAAAAAAAwIAAA7AIAAAAAAAABwAAAOAIA
			AAAAAAARwAAAIAAAAAAAAAASwAAASAIAAAAAAAAQ0AAABAAAAAAA
			AAA=
			</data>
			<key>/Users/gjr/Library/Application Support/MacPhun Software/Aurora HDR/History/DDE1BA7C-0D3F-4F02-B77A-01E9856D3AE0/resources/B4290897-444E-47A4-B35F-A5ADDDDBD6D8.cube</key>
			<data>
			Ym9va/gDAAAAAAQQMAAAADJHhiaPYJWWc5IW/odse2Oj/FyZ0LkY
			zXSkhIUtzVrG9AIAAAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMA
			AAADAAAAAQEAAGdqcgAHAAAAAQEAAExpYnJhcnkAEwAAAAEBAABB
			cHBsaWNhdGlvbiBTdXBwb3J0ABAAAAABAQAATWFjUGh1biBTb2Z0
			d2FyZQoAAAABAQAAQXVyb3JhIEhEUgAABwAAAAEBAABIaXN0b3J5
			ACQAAAABAQAARERFMUJBN0MtMEQzRi00RjAyLUI3N0EtMDFFOTg1
			NkQzQUUwCQAAAAEBAAByZXNvdXJjZXMAAAApAAAAAQEAAEI0Mjkw
			ODk3LTQ0NEUtNDdBNC1CMzVGLUE1QURERERCRDZEOC5jdWJlAAAA
			KAAAAAEGAAAQAAAAIAAAACwAAAA8AAAAWAAAAHAAAACEAAAAlAAA
			AMAAAADUAAAACAAAAAQDAADcaQYAAAAAAAgAAAAEAwAAtasJAAAA
			AAAIAAAABAMAALqrCQAAAAAACAAAAAQDAADJqwkAAAAAAAgAAAAE
			AwAA+pe1BwIAAAAIAAAABAMAAE04HgkCAAAACAAAAAQDAAAgwDkV
			AgAAAAgAAAAEAwAAvp1IFQIAAAAIAAAABAMAAL+dSBUCAAAACAAA
			AAQDAAB5oUgVAgAAACgAAAABBgAAOAEAAEgBAABYAQAAaAEAAHgB
			AACIAQAAmAEAAKgBAAC4AQAAyAEAAAgAAAAABAAAQcKxheAAAAAY
			AAAAAQIAAAEAAAAAAAAADwAAAAAAAAAAAAAAAAAAAAgAAAAEAwAA
			CAAAAAAAAAAEAAAAAwMAAPUBAAAIAAAAAQkAAGZpbGU6Ly8vBgAA
			AAEBAABWdWxjYW4AAAgAAAAEAwAAAJAgaHQAAAAIAAAAAAQAAEHE
			Um5rAAAAJAAAAAEBAABCNUJDMjg3Qy1CQzg2LTMzOEEtQkNBRS03
			QjhCMjlCQjEzRTUYAAAAAQIAAIEAAAABAAAA7xMAAAEAAAAAAAAA
			AAAAAAEAAAABAQAALwAAAAAAAAABBQAAzAAAAP7///8BAAAAAAAA
			ABAAAAAEEAAACAEAAAAAAAAFEAAA2AEAAAAAAAAQEAAAGAIAAAAA
			AABAEAAACAIAAAAAAAACIAAA4AIAAAAAAAAFIAAAVAIAAAAAAAAQ
			IAAAZAIAAAAAAAARIAAAlAIAAAAAAAASIAAAdAIAAAAAAAATIAAA
			hAIAAAAAAAAgIAAAwAIAAAAAAAAwIAAA7AIAAAAAAAABwAAAOAIA
			AAAAAAARwAAAIAAAAAAAAAASwAAASAIAAAAAAAAQ0AAABAAAAAAA
			AAA=
			</data>
			<key>/Users/gjr/Library/Application Support/MacPhun Software/Aurora HDR/History/DDE1BA7C-0D3F-4F02-B77A-01E9856D3AE0/resources/D8EDE5FE-6371-4F8A-BD3C-0F09BA09B4B9.cube</key>
			<data>
			Ym9va/gDAAAAAAQQMAAAAFjmN3WrFAsuwuJSv9iSbanrecp5euG7
			FmQN2RPBab0a9AIAAAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMA
			AAADAAAAAQEAAGdqcgAHAAAAAQEAAExpYnJhcnkAEwAAAAEBAABB
			cHBsaWNhdGlvbiBTdXBwb3J0ABAAAAABAQAATWFjUGh1biBTb2Z0
			d2FyZQoAAAABAQAAQXVyb3JhIEhEUgAABwAAAAEBAABIaXN0b3J5
			ACQAAAABAQAARERFMUJBN0MtMEQzRi00RjAyLUI3N0EtMDFFOTg1
			NkQzQUUwCQAAAAEBAAByZXNvdXJjZXMAAAApAAAAAQEAAEQ4RURF
			NUZFLTYzNzEtNEY4QS1CRDNDLTBGMDlCQTA5QjRCOS5jdWJlAAAA
			KAAAAAEGAAAQAAAAIAAAACwAAAA8AAAAWAAAAHAAAACEAAAAlAAA
			AMAAAADUAAAACAAAAAQDAADcaQYAAAAAAAgAAAAEAwAAtasJAAAA
			AAAIAAAABAMAALqrCQAAAAAACAAAAAQDAADJqwkAAAAAAAgAAAAE
			AwAA+pe1BwIAAAAIAAAABAMAAE04HgkCAAAACAAAAAQDAAAgwDkV
			AgAAAAgAAAAEAwAAvp1IFQIAAAAIAAAABAMAAL+dSBUCAAAACAAA
			AAQDAABvoEgVAgAAACgAAAABBgAAOAEAAEgBAABYAQAAaAEAAHgB
			AACIAQAAmAEAAKgBAAC4AQAAyAEAAAgAAAAABAAAQcKxheAAAAAY
			AAAAAQIAAAEAAAAAAAAADwAAAAAAAAAAAAAAAAAAAAgAAAAEAwAA
			CAAAAAAAAAAEAAAAAwMAAPUBAAAIAAAAAQkAAGZpbGU6Ly8vBgAA
			AAEBAABWdWxjYW4AAAgAAAAEAwAAAJAgaHQAAAAIAAAAAAQAAEHE
			Um5rAAAAJAAAAAEBAABCNUJDMjg3Qy1CQzg2LTMzOEEtQkNBRS03
			QjhCMjlCQjEzRTUYAAAAAQIAAIEAAAABAAAA7xMAAAEAAAAAAAAA
			AAAAAAEAAAABAQAALwAAAAAAAAABBQAAzAAAAP7///8BAAAAAAAA
			ABAAAAAEEAAACAEAAAAAAAAFEAAA2AEAAAAAAAAQEAAAGAIAAAAA
			AABAEAAACAIAAAAAAAACIAAA4AIAAAAAAAAFIAAAVAIAAAAAAAAQ
			IAAAZAIAAAAAAAARIAAAlAIAAAAAAAASIAAAdAIAAAAAAAATIAAA
			hAIAAAAAAAAgIAAAwAIAAAAAAAAwIAAA7AIAAAAAAAABwAAAOAIA
			AAAAAAARwAAAIAAAAAAAAAASwAAASAIAAAAAAAAQ0AAABAAAAAAA
			AAA=
			</data>
			<key>/Users/gjr/Library/Application Support/MacPhun Software/Aurora HDR/History/DDE1BA7C-0D3F-4F02-B77A-01E9856D3AE0/resources/F5E1A12F-712A-4BC4-ADDB-01D2C7C0C102.cube</key>
			<data>
			Ym9va/gDAAAAAAQQMAAAAG1k6UbCKdPNhZiRpPp7BfeYXwTDjBc5
			X+LWyngxdF7J9AIAAAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMA
			AAADAAAAAQEAAGdqcgAHAAAAAQEAAExpYnJhcnkAEwAAAAEBAABB
			cHBsaWNhdGlvbiBTdXBwb3J0ABAAAAABAQAATWFjUGh1biBTb2Z0
			d2FyZQoAAAABAQAAQXVyb3JhIEhEUgAABwAAAAEBAABIaXN0b3J5
			ACQAAAABAQAARERFMUJBN0MtMEQzRi00RjAyLUI3N0EtMDFFOTg1
			NkQzQUUwCQAAAAEBAAByZXNvdXJjZXMAAAApAAAAAQEAAEY1RTFB
			MTJGLTcxMkEtNEJDNC1BRERCLTAxRDJDN0MwQzEwMi5jdWJlAAAA
			KAAAAAEGAAAQAAAAIAAAACwAAAA8AAAAWAAAAHAAAACEAAAAlAAA
			AMAAAADUAAAACAAAAAQDAADcaQYAAAAAAAgAAAAEAwAAtasJAAAA
			AAAIAAAABAMAALqrCQAAAAAACAAAAAQDAADJqwkAAAAAAAgAAAAE
			AwAA+pe1BwIAAAAIAAAABAMAAE04HgkCAAAACAAAAAQDAAAgwDkV
			AgAAAAgAAAAEAwAAvp1IFQIAAAAIAAAABAMAAL+dSBUCAAAACAAA
			AAQDAAAin0gVAgAAACgAAAABBgAAOAEAAEgBAABYAQAAaAEAAHgB
			AACIAQAAmAEAAKgBAAC4AQAAyAEAAAgAAAAABAAAQcKxheAAAAAY
			AAAAAQIAAAEAAAAAAAAADwAAAAAAAAAAAAAAAAAAAAgAAAAEAwAA
			CAAAAAAAAAAEAAAAAwMAAPUBAAAIAAAAAQkAAGZpbGU6Ly8vBgAA
			AAEBAABWdWxjYW4AAAgAAAAEAwAAAJAgaHQAAAAIAAAAAAQAAEHE
			Um5rAAAAJAAAAAEBAABCNUJDMjg3Qy1CQzg2LTMzOEEtQkNBRS03
			QjhCMjlCQjEzRTUYAAAAAQIAAIEAAAABAAAA7xMAAAEAAAAAAAAA
			AAAAAAEAAAABAQAALwAAAAAAAAABBQAAzAAAAP7///8BAAAAAAAA
			ABAAAAAEEAAACAEAAAAAAAAFEAAA2AEAAAAAAAAQEAAAGAIAAAAA
			AABAEAAACAIAAAAAAAACIAAA4AIAAAAAAAAFIAAAVAIAAAAAAAAQ
			IAAAZAIAAAAAAAARIAAAlAIAAAAAAAASIAAAdAIAAAAAAAATIAAA
			hAIAAAAAAAAgIAAAwAIAAAAAAAAwIAAA7AIAAAAAAAABwAAAOAIA
			AAAAAAARwAAAIAAAAAAAAAASwAAASAIAAAAAAAAQ0AAABAAAAAAA
			AAA=
			</data>
			<key>/Users/gjr/site/themes/ananke/electrifycanberra/static/images/nph.jpg</key>
			<data>
			Ym9va7gDAAAAAAQQMAAAAAAFA13zMAO8pW2OXnAA6qpcMd2Z5AyD
			WDAprGjTQ6juqAIAAAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMA
			AAADAAAAAQEAAGdqcgAEAAAAAQEAAHNpdGUGAAAAAQEAAHRoZW1l
			cwAABgAAAAEBAABhbmFua2UAABEAAAABAQAAZWxlY3RyaWZ5Y2Fu
			YmVycmEAAAAGAAAAAQEAAHN0YXRpYwAABgAAAAEBAABpbWFnZXMA
			AAcAAAABAQAAbnBoLmpwZwAkAAAAAQYAABAAAAAgAAAALAAAADgA
			AABIAAAAWAAAAHQAAACEAAAAlAAAAAgAAAAEAwAA3GkGAAAAAAAI
			AAAABAMAALWrCQAAAAAACAAAAAQDAAB3QhMVAgAAAAgAAAAEAwAA
			TL0TFQIAAAAIAAAABAMAAMXRExUCAAAACAAAAAQDAAAq0hMVAgAA
			AAgAAAAEAwAAQtITFQIAAAAIAAAABAMAAEPSExUCAAAACAAAAAQD
			AADWnEgVAgAAACQAAAABBgAA0AAAAOAAAADwAAAAAAEAABABAAAg
			AQAAMAEAAEABAABQAQAACAAAAAAEAABBxGdbAyoJVRgAAAABAgAA
			AQAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAQDAAAHAAAAAAAA
			AAQAAAADAwAA9QEAAAgAAAABCQAAZmlsZTovLy8GAAAAAQEAAFZ1
			bGNhbgAACAAAAAQDAAAAkCBodAAAAAgAAAAABAAAQcRSbmsAAAAk
			AAAAAQEAAEI1QkMyODdDLUJDODYtMzM4QS1CQ0FFLTdCOEIyOUJC
			MTNFNRgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAA
			AAEBAAAvAAAAAAAAAAEFAAAaAAAAAQEAAE5TVVJMRG9jdW1lbnRJ
			ZGVudGlmaWVyS2V5AAAEAAAAAwMAACcRHQDYAAAA/v///wEAAAAA
			AAAAEQAAAAQQAACkAAAAAAAAAAUQAABgAQAAAAAAABAQAACcAQAA
			AAAAAEAQAACMAQAAAAAAAAIgAABkAgAAAAAAAAUgAADYAQAAAAAA
			ABAgAADoAQAAAAAAABEgAAAYAgAAAAAAABIgAAD4AQAAAAAAABMg
			AAAIAgAAAAAAACAgAABEAgAAAAAAADAgAABwAgAAAAAAAAHAAAC8
			AQAAAAAAABHAAAAgAAAAAAAAABLAAADMAQAAAAAAABDQAAAEAAAA
			AAAAAHgCAICcAgAAAAAAAA==
			</data>
		</dict>
		<key>cachedTexturesDict</key>
		<dict>
			<key>/Applications/Aurora HDR 2019.app/Contents/Resources/Presets/Dramatic 2019/Cool Drama.sal/Contents/resources/F29D7B1B-809D-489F-A989-DA7ACDFBC977.cube</key>
			<string>F5E1A12F-712A-4BC4-ADDB-01D2C7C0C102.cube</string>
			<key>/Applications/Aurora HDR 2019.app/Contents/Resources/Presets/Dramatic 2019/Creative Drama.sal/Contents/resources/98A622B1-D992-42B1-914E-1D4D9B967724.cube</key>
			<string>B0A93457-9D6C-46CE-A116-D1FFA22CE355.cube</string>
			<key>/Applications/Aurora HDR 2019.app/Contents/Resources/Presets/Dramatic 2019/Ethereal Drama.sal/Contents/resources/85F6091B-794E-42F3-B30F-AF0015FCF296.cube</key>
			<string>67CF3AD5-48BF-4959-B963-19A4110E2763.cube</string>
			<key>/Applications/Aurora HDR 2019.app/Contents/Resources/Presets/Dramatic 2019/Tense Drama.sal/Contents/resources/7E9A36E5-5EB1-4CB2-BB06-FFDF46078E9F.cube</key>
			<string>A15B1BB4-8067-4F4E-A2D0-FAD1F7B7494D.cube</string>
			<key>/Applications/Aurora HDR 2019.app/Contents/Resources/Presets/Dramatic 2019/Warm Drama.sal/Contents/resources/0462888C-44F3-40FD-8143-1B146595B4C5.cube</key>
			<string>B4290897-444E-47A4-B35F-A5ADDDDBD6D8.cube</string>
			<key>/Applications/Aurora HDR 2019.app/Contents/Resources/Presets/Essentials/Bright Sun.sal/Contents/resources/111F85B6-1AAD-4438-AB57-D683072CA7A7.cube</key>
			<string>0955BCA9-3BB7-4D23-99F8-C7D0C933B001.cube</string>
			<key>/Applications/Aurora HDR 2019.app/Contents/Resources/Presets/Essentials/Deep.sal/Contents/resources/3D360557-ABB5-4FBE-9528-8396E03C0E4E.cube</key>
			<string>A981B213-4E7E-4DD4-A26F-A3CF5FBFD4EA.cube</string>
			<key>/Applications/Aurora HDR 2019.app/Contents/Resources/Presets/Essentials/Glowing.sal/Contents/resources/687C0C51-6A74-4756-A24A-1107348C97C8.cube</key>
			<string>7C49E21D-1710-4E1B-A4D9-AEF7D17B6A35.cube</string>
			<key>/Applications/Aurora HDR 2019.app/Contents/Resources/Presets/Landscape 2019/Better Skies.sal/Contents/resources/38CA9B7B-3165-42F9-85C8-7C591B051FE7.cube</key>
			<string>8576FFF7-A3AB-4885-91F5-648A7C225B5D.cube</string>
			<key>/Applications/Aurora HDR 2019.app/Contents/Resources/Presets/Landscape 2019/Better Sunrise.sal/Contents/resources/7B869DEE-63F9-42AA-8E95-CF7073675577.cube</key>
			<string>735871A8-238E-49BD-B56B-DBFE4B9ADCC9.cube</string>
			<key>/Applications/Aurora HDR 2019.app/Contents/Resources/Presets/Landscape 2019/Cool Landscape.sal/Contents/resources/D8FA8BA2-E938-4B5B-B755-BC496959EA19.cube</key>
			<string>0E81EE28-59C4-4E90-8804-321137E2177E.cube</string>
			<key>/Applications/Aurora HDR 2019.app/Contents/Resources/Presets/Landscape 2019/Misty Landscape.sal/Contents/resources/F1AB9838-38AF-472B-8319-BC5F1A1E1ED5.cube</key>
			<string>D8EDE5FE-6371-4F8A-BD3C-0F09BA09B4B9.cube</string>
			<key>/Users/gjr/Library/Application Support/MacPhun Software/Aurora HDR/History/DDE1BA7C-0D3F-4F02-B77A-01E9856D3AE0/resources/0955BCA9-3BB7-4D23-99F8-C7D0C933B001.cube</key>
			<string>DD3257B3-F481-4AA8-9EE5-0582E00C0641.cube</string>
			<key>/Users/gjr/Library/Application Support/MacPhun Software/Aurora HDR/History/DDE1BA7C-0D3F-4F02-B77A-01E9856D3AE0/resources/0E81EE28-59C4-4E90-8804-321137E2177E.cube</key>
			<string>F4D3DF38-E9D2-4B41-AA0E-C8DA83FE7D54.cube</string>
			<key>/Users/gjr/Library/Application Support/MacPhun Software/Aurora HDR/History/DDE1BA7C-0D3F-4F02-B77A-01E9856D3AE0/resources/67CF3AD5-48BF-4959-B963-19A4110E2763.cube</key>
			<string>4603F9E5-6DDD-4358-8D6A-248155FE2FD6.cube</string>
			<key>/Users/gjr/Library/Application Support/MacPhun Software/Aurora HDR/History/DDE1BA7C-0D3F-4F02-B77A-01E9856D3AE0/resources/735871A8-238E-49BD-B56B-DBFE4B9ADCC9.cube</key>
			<string>984A280F-5F70-4C33-8C9D-92DDA1E31677.cube</string>
			<key>/Users/gjr/Library/Application Support/MacPhun Software/Aurora HDR/History/DDE1BA7C-0D3F-4F02-B77A-01E9856D3AE0/resources/7C49E21D-1710-4E1B-A4D9-AEF7D17B6A35.cube</key>
			<string>3BACC064-A29E-4E70-8684-D9595E26288F.cube</string>
			<key>/Users/gjr/Library/Application Support/MacPhun Software/Aurora HDR/History/DDE1BA7C-0D3F-4F02-B77A-01E9856D3AE0/resources/8576FFF7-A3AB-4885-91F5-648A7C225B5D.cube</key>
			<string>652F6E24-FBFE-460C-9A48-B02E987BBEAA.cube</string>
			<key>/Users/gjr/Library/Application Support/MacPhun Software/Aurora HDR/History/DDE1BA7C-0D3F-4F02-B77A-01E9856D3AE0/resources/A15B1BB4-8067-4F4E-A2D0-FAD1F7B7494D.cube</key>
			<string>5E9518CC-9F30-496E-BC76-4734BD2923DC.cube</string>
			<key>/Users/gjr/Library/Application Support/MacPhun Software/Aurora HDR/History/DDE1BA7C-0D3F-4F02-B77A-01E9856D3AE0/resources/A981B213-4E7E-4DD4-A26F-A3CF5FBFD4EA.cube</key>
			<string>33219E1D-9D0C-4D38-A804-80B2E01B8500.cube</string>
			<key>/Users/gjr/Library/Application Support/MacPhun Software/Aurora HDR/History/DDE1BA7C-0D3F-4F02-B77A-01E9856D3AE0/resources/B0A93457-9D6C-46CE-A116-D1FFA22CE355.cube</key>
			<string>2744F777-B22F-4C82-9DF9-67F933F98F69.cube</string>
			<key>/Users/gjr/Library/Application Support/MacPhun Software/Aurora HDR/History/DDE1BA7C-0D3F-4F02-B77A-01E9856D3AE0/resources/B4290897-444E-47A4-B35F-A5ADDDDBD6D8.cube</key>
			<string>F563B6FE-F043-4D57-8EC5-E3CFFB0B46FB.cube</string>
			<key>/Users/gjr/Library/Application Support/MacPhun Software/Aurora HDR/History/DDE1BA7C-0D3F-4F02-B77A-01E9856D3AE0/resources/D8EDE5FE-6371-4F8A-BD3C-0F09BA09B4B9.cube</key>
			<string>318256F1-3551-4C79-A396-9DED5CAEE934.cube</string>
			<key>/Users/gjr/Library/Application Support/MacPhun Software/Aurora HDR/History/DDE1BA7C-0D3F-4F02-B77A-01E9856D3AE0/resources/F5E1A12F-712A-4BC4-ADDB-01D2C7C0C102.cube</key>
			<string>A00D9BDF-B8F0-45E5-A714-149A563490EA.cube</string>
			<key>/Users/gjr/site/themes/ananke/electrifycanberra/static/images/nph.jpg</key>
			<string>8AA3C57B-17AB-4E5D-8912-29FFE4800707.jpg</string>
		</dict>
		<key>currentLevelOfHistory</key>
		<integer>21</integer>
		<key>historyDicts</key>
		<array>
			<dict>
				<key>actionName</key>
				<string>Preset HDR Look 2: Activated</string>
				<key>hash</key>
				<string>808e91d3b9ef155ab333cab7c4d94586:963e88f4ac388be0d80b5ba2a8a68a5c:0:1</string>
				<key>uuid</key>
				<string>1C43A96A-E714-4EC0-815C-D777C4FF8791</string>
			</dict>
			<dict>
				<key>actionName</key>
				<string>Preset HDR Look 1: Activated</string>
				<key>hash</key>
				<string>359fa5305b43d0ba516c04481d294aa9:963e88f4ac388be0d80b5ba2a8a68a5c:0:1</string>
				<key>uuid</key>
				<string>773174FF-4F05-4E9F-960A-D5174C215A8A</string>
			</dict>
			<dict>
				<key>actionName</key>
				<string>Preset Deep: Activated</string>
				<key>hash</key>
				<string>6024d36c9de7de338eab31b6ae58637a:963e88f4ac388be0d80b5ba2a8a68a5c:0:1</string>
				<key>uuid</key>
				<string>30A5E80F-51F3-4894-9F95-56C4136D8906</string>
			</dict>
			<dict>
				<key>actionName</key>
				<string>Preset Glowing: Activated</string>
				<key>hash</key>
				<string>58f899067a91f02222868b862b1b488c:963e88f4ac388be0d80b5ba2a8a68a5c:0:1</string>
				<key>uuid</key>
				<string>0B593B43-652F-4350-9AA3-C4915AC107C3</string>
			</dict>
			<dict>
				<key>actionName</key>
				<string>Preset Bright Sun: Activated</string>
				<key>hash</key>
				<string>a8ca11d9e03e9cb03b9cb642adc1e83a:963e88f4ac388be0d80b5ba2a8a68a5c:0:1</string>
				<key>uuid</key>
				<string>06D40487-E23F-49F2-A06E-C552C3559ACB</string>
			</dict>
			<dict>
				<key>actionName</key>
				<string>Preset Tense Drama: Activated</string>
				<key>hash</key>
				<string>ef633ec2438d1a25c28e2abce6172d19:963e88f4ac388be0d80b5ba2a8a68a5c:0:1</string>
				<key>uuid</key>
				<string>84E2E032-C699-43E1-9424-3EB0770DD765</string>
			</dict>
			<dict>
				<key>actionName</key>
				<string>Preset Cool Drama: Activated</string>
				<key>hash</key>
				<string>d56bec54362e62360b1fe81a386e98f9:963e88f4ac388be0d80b5ba2a8a68a5c:0:1</string>
				<key>uuid</key>
				<string>87412951-8A17-4361-80B5-5DEF2447B9D7</string>
			</dict>
			<dict>
				<key>actionName</key>
				<string>Preset Tense Drama: Activated</string>
				<key>hash</key>
				<string>1ad0b3c761d04d1a51d73f8a179b9911:963e88f4ac388be0d80b5ba2a8a68a5c:0:1</string>
				<key>uuid</key>
				<string>F9312B8B-900A-4689-A142-F588056559BB</string>
			</dict>
			<dict>
				<key>actionName</key>
				<string>Preset Bright Landscape: Activated</string>
				<key>hash</key>
				<string>d56bec54362e62360b1fe81a386e98f9:963e88f4ac388be0d80b5ba2a8a68a5c:0:1</string>
				<key>uuid</key>
				<string>40E0DD3C-D5ED-456E-B1C0-7BA2786392BA</string>
			</dict>
			<dict>
				<key>actionName</key>
				<string>Preset Enhanced Landscape: Activated</string>
				<key>hash</key>
				<string>948c2a7e85edea9fcc1f3a53ebfe9e1b:963e88f4ac388be0d80b5ba2a8a68a5c:0:1</string>
				<key>uuid</key>
				<string>5923C475-0355-450A-9B4D-1846EAC666E2</string>
			</dict>
			<dict>
				<key>actionName</key>
				<string>HDR Basic: Temperature</string>
				<key>additionalInfo</key>
				<string>-8</string>
				<key>hash</key>
				<string>04ba30d3547b4c920de14b48982dfab3:963e88f4ac388be0d80b5ba2a8a68a5c:0:1</string>
				<key>uuid</key>
				<string>C0EE274D-1A82-456A-B50D-01DDFA822508</string>
			</dict>
			<dict>
				<key>actionName</key>
				<string>Exposure: Exposure</string>
				<key>additionalInfo</key>
				<string>-0.13</string>
				<key>hash</key>
				<string>7dfbfaaad21cf8c1de17980b87984e86:963e88f4ac388be0d80b5ba2a8a68a5c:0:1</string>
				<key>uuid</key>
				<string>F63ECE93-CBF2-48FF-A4D0-86E646542E92</string>
			</dict>
			<dict>
				<key>actionName</key>
				<string>Preset Cool Landscape: Activated</string>
				<key>hash</key>
				<string>0d11e6abc1435989336e925744fba800:963e88f4ac388be0d80b5ba2a8a68a5c:0:1</string>
				<key>uuid</key>
				<string>0613EF4C-E261-4DB7-9DB7-3979D746C476</string>
			</dict>
			<dict>
				<key>actionName</key>
				<string>Preset Better Sunrise: Activated</string>
				<key>hash</key>
				<string>4ee747eee65e8ecd94a5f9f2f38a2c24:963e88f4ac388be0d80b5ba2a8a68a5c:0:1</string>
				<key>uuid</key>
				<string>8B46A4AE-E681-4187-B549-D975B8B8BC08</string>
			</dict>
			<dict>
				<key>actionName</key>
				<string>Preset Better Skies: Activated</string>
				<key>hash</key>
				<string>1d54535c24ca34b0e6c09b4017e5eaed:963e88f4ac388be0d80b5ba2a8a68a5c:0:1</string>
				<key>uuid</key>
				<string>C067345B-3A0C-4AC3-BBF8-1D985F83E3CF</string>
			</dict>
			<dict>
				<key>actionName</key>
				<string>Preset Misty Landscape: Activated</string>
				<key>hash</key>
				<string>dfc344e27a42549a3e6ffa4e1d2fa991:963e88f4ac388be0d80b5ba2a8a68a5c:0:1</string>
				<key>uuid</key>
				<string>DDFACB2A-022C-4D48-8956-5DC09A432333</string>
			</dict>
			<dict>
				<key>actionName</key>
				<string>Preset Better Skies: Activated</string>
				<key>hash</key>
				<string>84631b773d749689469fbeaba9387211:963e88f4ac388be0d80b5ba2a8a68a5c:0:1</string>
				<key>uuid</key>
				<string>C2B53187-CFD7-4936-ACDD-A3B47B9C46AB</string>
			</dict>
			<dict>
				<key>actionName</key>
				<string>Preset Creative Drama: Activated</string>
				<key>hash</key>
				<string>dfc344e27a42549a3e6ffa4e1d2fa991:963e88f4ac388be0d80b5ba2a8a68a5c:0:1</string>
				<key>uuid</key>
				<string>5ED59CC3-672A-4D94-BC15-BD7CE0A0040B</string>
			</dict>
			<dict>
				<key>actionName</key>
				<string>Preset Ethereal Drama: Activated</string>
				<key>hash</key>
				<string>e133b4729ed0c665a36cc09d4251e5c5:963e88f4ac388be0d80b5ba2a8a68a5c:0:1</string>
				<key>uuid</key>
				<string>1EE01971-E835-47EE-BFB2-EC78327A42B6</string>
			</dict>
			<dict>
				<key>actionName</key>
				<string>Preset Warm Drama: Activated</string>
				<key>hash</key>
				<string>eb39e1438e2be876cb53dee19c818df8:963e88f4ac388be0d80b5ba2a8a68a5c:0:1</string>
				<key>uuid</key>
				<string>4D4AA518-C9B4-4A0D-A7A9-401AF9F04C45</string>
			</dict>
			<dict>
				<key>actionName</key>
				<string>Preset Ethereal Drama: Activated</string>
				<key>hash</key>
				<string>aff601fc5abe2a7b1a9a7614a272117e:963e88f4ac388be0d80b5ba2a8a68a5c:0:1</string>
				<key>uuid</key>
				<string>0F5A2B93-EBD1-44F2-BC83-22FDB247E58C</string>
			</dict>
			<dict>
				<key>actionName</key>
				<string>--FORCE SAVE--</string>
				<key>hash</key>
				<string>eb39e1438e2be876cb53dee19c818df8:963e88f4ac388be0d80b5ba2a8a68a5c:0:1</string>
				<key>uuid</key>
				<string>F1039EB9-91B7-4099-9E4E-0B6EC693D3F3</string>
			</dict>
		</array>
	</dict>
	<key>MPMainBundleIdentifier</key>
	<string>com.macphun.aurorahdr2019</string>
	<key>MPOriginalImagePath</key>
	<string>/Users/gjr/site/themes/ananke/electrifycanberra/static/images/nph.jpg</string>
	<key>MPQuickLookThumbnailSize</key>
	<string>{1700, 936}</string>
	<key>MPSaveHistoryToDocument</key>
	<true/>
	<key>MPdeleteOrigResources</key>
	<true/>
	<key>kMPAurDocumentHDRSettingsKey</key>
	<dict>
		<key>_alignment</key>
		<false/>
		<key>_chromaticAbberationReduction</key>
		<false/>
		<key>_colorDenoise</key>
		<true/>
		<key>_fullOpen</key>
		<false/>
		<key>_ghostAmount</key>
		<integer>1</integer>
		<key>_ghostReduction</key>
		<false/>
		<key>_ghostRefImageIdx</key>
		<integer>0</integer>
		<key>_singleImageToneMapping</key>
		<true/>
	</dict>
	<key>kMPBracketsPaths</key>
	<array>
		<string>/Users/gjr/site/themes/ananke/electrifycanberra/static/images/nph.jpg</string>
	</array>
</dict>
</plist>
