{{ define "main" }}
{{ $page := . }}                       <!--save current page-->
<main class="page-main pa4" role="main">
  <section class="page-content mw7 center">
    <article class="post-content pa0 pl3-l">
      <header class="post-header">

      </header>

      <section class="post-body pt5 pb4">
        {{ .Content }}
      </section>
      <footer class="post-footer">
        {{ partial "shared/post-pagination.html" . }}
      </footer>
    </article>
    {{ if .Params.show_comments }}
      {{ partial "shared/comments.html" . }}
    {{ end }}
  </section>
</main>

<aside class="page-sidebar" role="complementary">

  {{ partial "shared/sidebar-scaffold.html" . }}
  

  {{ partial "shared/series-sidebar.html" . }}
  {{ partial "shared/sidebar/sidebar-toc.html" . }}
  
<!--   {{ partial "shared/sidebar-scaffold-bottom.html" . }} -->
</aside>

<!-- 
<aside class="page-sidebar" role="complementary">

footnotes
  
<!~~   {{ partial "shared/sidebar-scaffold-bottom.html" . }} ~~>
</aside>
 -->
{{ end }}
