 
.sidenote {
    font-size: 80%;
    position: relative;
}
/* Wide viewport */
@media (min-width: 1400px) {
    .sidenote {
        float: left;
        clear: left;
        margin-left: -23vw;
        text-align: right;

        top: -3rem;
        width: 20vw;
        margin-top: 1rem;
    }
}

/* Narrow viewport */
@media (max-width: 1400px) {
    .sidenote {
        float: left;
        text-align: left;

        width: 100%;
        margin: 1rem 0;
        padding-left: 15%;
    }
}
/* Sidenote counter */
body {
    counter-reset: sidenote-counter;
}
.sidenote-number {
    counter-increment: sidenote-counter;
}
/* Counter before the sidenote in the margin. */
.sidenote::before {
    content: counter(sidenote-counter)".";
    position: relative;
    vertical-align: baseline;
    font-size: 0.9em;
    font-weight: bold;
}
/* Counter in the main body. */
.sidenote-number::after {
    content: counter(sidenote-counter);
    vertical-align: super;
    font-size: 0.7em;
    font-weight: bold;
    margin-right: 0.5rem;
}

@media (min-width: 1400px) {
    /* Highlight the sidenote when mouse hovers on the sidenote number in body. */
    .sidenote-number:hover .sidenote {
        background-color: yellow;
    }
}
  

  .p2 {
    padding-left: 40px;
    text-indent: -40px;
    line-height: 2.5; 
}


img[src$='#center']
{
    display: block;
    margin: 0.7rem auto; /* you can replace the vertical '0.7rem' by
                            whatever floats your boat, but keep the
                            horizontal 'auto' for this to work */
    /* whatever else styles you fancy here */
}

	
img[src$='#floatleft']
{
    float:left; 
     margin-left: 0px;    /* this margin is totally up to you */
    /* whatever else styles you fancy here */
}

img[src$='#floatright']
{
    float:right;   
    display: block; 
    margin-right:20px  /* this margin is totally up to you */
    /* whatever else styles you fancy here */
}

.alignleft {
    max-width: 20%;
    float: left;
  }

.alignright {
    max-width: 20%;
    float: right;
  }


#sideBar {
  min-width: 100px;
  max-width: 100px;
  background: red;
}

.floatRight{float:right;margin-left:20px}

.floatRightClear{float:right;clear:right;margin-left:20px}

.red, .blue {
  height: 200px;
  width: 200px;
  color: #fff;
  text-align: center;
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
  grid-area: right;
}

.blue-wrapper {
  display: grid;
  grid-auto-columns: calc(100% - 200px);
}