  .p2 {
    padding-left: 40px;
    text-indent: -40px;
    line-height: 2.5; 
}


img[src$='#center']
{
    display: block;
    margin: 0.7rem auto; /* you can replace the vertical '0.7rem' by
                            whatever floats your boat, but keep the
                            horizontal 'auto' for this to work */
    /* whatever else styles you fancy here */
}

	
img[src$='#floatleft']
{
    float:left; 
     margin-left: 0px;    /* this margin is totally up to you */
    /* whatever else styles you fancy here */
}

img[src$='#floatright']
{
    float:right;   
    display: block; 
    margin-right:20px  /* this margin is totally up to you */
    /* whatever else styles you fancy here */
}

.alignleft {
    max-width: 20%;
    float: left;
  }

.alignright {
    max-width: 20%;
    float: right;
  }


#sideBar {
  min-width: 100px;
  max-width: 100px;
  background: red;
}

.floatRight{float:right;margin-left:20px}

.floatRightClear{float:right;clear:right;margin-left:20px}

.red, .blue {
  height: 200px;
  width: 200px;
  color: #fff;
  text-align: center;
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
  grid-area: right;
}

.blue-wrapper {
  display: grid;
  grid-auto-columns: calc(100% - 200px);
}