{{ $page := . }} 
<div class="   f6  lh-solid pl4">                      <!--save current page-->
   {{ partial "shared/breadcrumb.html" . }}
  	    {{ if .Params.show_author_byline }}<p class="f7 measure mv0">{{ if .Params.author }}By {{ .Params.author }}{{ end }}</p>
  	   <p class="f7 measure   mv1"> {{ with .Params.categories }} Categories: {{ range . }} <a href="{{ "categories/" | absURL }}{{ . | urlize }}">{{ . }}</a> {{ end }}{{ end }}</p>{{ end }}
        {{ if .Params.show_post_date }}
        <p class="f7 db mv0 ttu">{{ .PublishDate.Format "January 2, 2006" }}</p>{{ end }}
              {{ with .Params.tags }}
  			<dl class="f6 lh-copy">
   			 <dt class="fw7">Tags:</dt>
    			<dd class="fw5 ml0">{{ range . }} <a href="{{ "tags/" | absURL }}{{ . | urlize }}">{{ . }}</a> {{ end }}</dd>
  			</dl>
         {{ end }}	
		<dl class="f6 lh-copy">
		<dt class="fw7">Length:</dt>
		<dd class="fw5 ml0">{{ .ReadingTime }} minute read, {{ .WordCount }} words</dd>
		</dl>
	 
</div>