<head>
  {{ partial "meta.html" . }}
  {{ template "_internal/schema.html" . }}
  {{ template "_internal/google_analytics.html" . }}
  {{ `<!--[if IE]><script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->` | safeHTML }}
  <link rel="shortcut icon" href="{{ .Site.Params.favicon }}" type="image/x-icon">
  <link rel="icon" href="{{ .Site.Params.favicon }}" type="image/x-icon">
  {{ range .AlternativeOutputFormats }}
    {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
  {{ end }}
  {{ $styles := resources.Get "scaffold.scss" | resources.ExecuteAsTemplate "style.main.scss" . | toCSS | minify | fingerprint }}
  <link rel="stylesheet" href="{{ $styles.RelPermalink }}" integrity="{{ $styles.Data.Integrity }}" media="screen">
  <!-- panelset.js -->
  {{ $panelsetJs := resources.Get "js/panelset.js" | js.Build "panelset.js" | minify | fingerprint }}
  <script src="{{ $panelsetJs.RelPermalink }}" type="text/javascript"></script>
  <!-- headroom.js -->
  {{ $mainJs := resources.Get "js/main.js" | js.Build "main.js" | minify | fingerprint }}
  <script src="{{ $mainJs.RelPermalink }}" type="text/javascript"></script>
  <!-- goatcounter -->
  <script data-goatcounter="https://alison.goatcounter.com/count"
        async src="//gc.zgo.at/count.js"></script>
<!--     gallery -->
        {{ if .Params.gallery }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script data-goatcounter="https://gjr.goatcounter.com/count"
        async src="//gc.zgo.at/count.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/nanogallery2/3.0.4/css/nanogallery2.min.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/nanogallery2/3.0.4/jquery.nanogallery2.min.js"></script>
{{ end }}
</head>
