<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>com.aurorahdr2019.auh</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>documentbundle</string>
	<key>CFBundlePackageType</key>
	<string>auh</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.1</string>
	<key>CFBundleVersion</key>
	<string>6438</string>
	<key>MPHistoryDict</key>
	<dict>
		<key>cachedTexturesBookmarksDict</key>
		<dict>
			<key>/Users/gjr/Library/Application Support/MacPhun Software/Aurora HDR/History/267FE2D7-B13E-4962-8A03-D637399CC87D/resources/31615401-5473-4D77-ABE2-9028483CF196.cube</key>
			<data>
			Ym9va/gDAAAAAAQQMAAAAFF7fCTP8Lr98DI/NWRBOvHZnEnXmNGJ
			PbhUKTbLpe3S9AIAAAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMA
			AAADAAAAAQEAAGdqcgAHAAAAAQEAAExpYnJhcnkAEwAAAAEBAABB
			cHBsaWNhdGlvbiBTdXBwb3J0ABAAAAABAQAATWFjUGh1biBTb2Z0
			d2FyZQoAAAABAQAAQXVyb3JhIEhEUgAABwAAAAEBAABIaXN0b3J5
			ACQAAAABAQAAMjY3RkUyRDctQjEzRS00OTYyLThBMDMtRDYzNzM5
			OUNDODdECQAAAAEBAAByZXNvdXJjZXMAAAApAAAAAQEAADMxNjE1
			NDAxLTU0NzMtNEQ3Ny1BQkUyLTkwMjg0ODNDRjE5Ni5jdWJlAAAA
			KAAAAAEGAAAQAAAAIAAAACwAAAA8AAAAWAAAAHAAAACEAAAAlAAA
			AMAAAADUAAAACAAAAAQDAADcaQYAAAAAAAgAAAAEAwAAtasJAAAA
			AAAIAAAABAMAALqrCQAAAAAACAAAAAQDAADJqwkAAAAAAAgAAAAE
			AwAA+pe1BwIAAAAIAAAABAMAAE04HgkCAAAACAAAAAQDAAAgwDkV
			AgAAAAgAAAAEAwAAEZhJFQIAAAAIAAAABAMAABKYSRUCAAAACAAA
			AAQDAACemkkVAgAAACgAAAABBgAAOAEAAEgBAABYAQAAaAEAAHgB
			AACIAQAAmAEAAKgBAAC4AQAAyAEAAAgAAAAABAAAQcKxheAAAAAY
			AAAAAQIAAAEAAAAAAAAADwAAAAAAAAAAAAAAAAAAAAgAAAAEAwAA
			CAAAAAAAAAAEAAAAAwMAAPUBAAAIAAAAAQkAAGZpbGU6Ly8vBgAA
			AAEBAABWdWxjYW4AAAgAAAAEAwAAAJAgaHQAAAAIAAAAAAQAAEHE
			Um5rAAAAJAAAAAEBAABCNUJDMjg3Qy1CQzg2LTMzOEEtQkNBRS03
			QjhCMjlCQjEzRTUYAAAAAQIAAIEAAAABAAAA7xMAAAEAAAAAAAAA
			AAAAAAEAAAABAQAALwAAAAAAAAABBQAAzAAAAP7///8BAAAAAAAA
			ABAAAAAEEAAACAEAAAAAAAAFEAAA2AEAAAAAAAAQEAAAGAIAAAAA
			AABAEAAACAIAAAAAAAACIAAA4AIAAAAAAAAFIAAAVAIAAAAAAAAQ
			IAAAZAIAAAAAAAARIAAAlAIAAAAAAAASIAAAdAIAAAAAAAATIAAA
			hAIAAAAAAAAgIAAAwAIAAAAAAAAwIAAA7AIAAAAAAAABwAAAOAIA
			AAAAAAARwAAAIAAAAAAAAAASwAAASAIAAAAAAAAQ0AAABAAAAAAA
			AAA=
			</data>
			<key>/Users/gjr/Library/Application Support/MacPhun Software/Aurora HDR/History/267FE2D7-B13E-4962-8A03-D637399CC87D/resources/35AECAA8-BB57-432F-A4F0-F8529F6F8B71.cube</key>
			<data>
			Ym9va/gDAAAAAAQQMAAAAHvmOLbssnIMsJmcglkYVdkT1RwfzGuV
			JUCT3JUlkdf79AIAAAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMA
			AAADAAAAAQEAAGdqcgAHAAAAAQEAAExpYnJhcnkAEwAAAAEBAABB
			cHBsaWNhdGlvbiBTdXBwb3J0ABAAAAABAQAATWFjUGh1biBTb2Z0
			d2FyZQoAAAABAQAAQXVyb3JhIEhEUgAABwAAAAEBAABIaXN0b3J5
			ACQAAAABAQAAMjY3RkUyRDctQjEzRS00OTYyLThBMDMtRDYzNzM5
			OUNDODdECQAAAAEBAAByZXNvdXJjZXMAAAApAAAAAQEAADM1QUVD
			QUE4LUJCNTctNDMyRi1BNEYwLUY4NTI5RjZGOEI3MS5jdWJlAAAA
			KAAAAAEGAAAQAAAAIAAAACwAAAA8AAAAWAAAAHAAAACEAAAAlAAA
			AMAAAADUAAAACAAAAAQDAADcaQYAAAAAAAgAAAAEAwAAtasJAAAA
			AAAIAAAABAMAALqrCQAAAAAACAAAAAQDAADJqwkAAAAAAAgAAAAE
			AwAA+pe1BwIAAAAIAAAABAMAAE04HgkCAAAACAAAAAQDAAAgwDkV
			AgAAAAgAAAAEAwAAEZhJFQIAAAAIAAAABAMAABKYSRUCAAAACAAA
			AAQDAADTnUkVAgAAACgAAAABBgAAOAEAAEgBAABYAQAAaAEAAHgB
			AACIAQAAmAEAAKgBAAC4AQAAyAEAAAgAAAAABAAAQcKxheAAAAAY
			AAAAAQIAAAEAAAAAAAAADwAAAAAAAAAAAAAAAAAAAAgAAAAEAwAA
			CAAAAAAAAAAEAAAAAwMAAPUBAAAIAAAAAQkAAGZpbGU6Ly8vBgAA
			AAEBAABWdWxjYW4AAAgAAAAEAwAAAJAgaHQAAAAIAAAAAAQAAEHE
			Um5rAAAAJAAAAAEBAABCNUJDMjg3Qy1CQzg2LTMzOEEtQkNBRS03
			QjhCMjlCQjEzRTUYAAAAAQIAAIEAAAABAAAA7xMAAAEAAAAAAAAA
			AAAAAAEAAAABAQAALwAAAAAAAAABBQAAzAAAAP7///8BAAAAAAAA
			ABAAAAAEEAAACAEAAAAAAAAFEAAA2AEAAAAAAAAQEAAAGAIAAAAA
			AABAEAAACAIAAAAAAAACIAAA4AIAAAAAAAAFIAAAVAIAAAAAAAAQ
			IAAAZAIAAAAAAAARIAAAlAIAAAAAAAASIAAAdAIAAAAAAAATIAAA
			hAIAAAAAAAAgIAAAwAIAAAAAAAAwIAAA7AIAAAAAAAABwAAAOAIA
			AAAAAAARwAAAIAAAAAAAAAASwAAASAIAAAAAAAAQ0AAABAAAAAAA
			AAA=
			</data>
			<key>/Users/gjr/Library/Application Support/MacPhun Software/Aurora HDR/History/267FE2D7-B13E-4962-8A03-D637399CC87D/resources/7E5EA99E-82B3-42E7-A908-674CD96A8979.cube</key>
			<data>
			Ym9va/gDAAAAAAQQMAAAAKQTv4orQZ8X8aim9rKc6J5AUuJXZ/nz
			Q8+tWtAXciZ99AIAAAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMA
			AAADAAAAAQEAAGdqcgAHAAAAAQEAAExpYnJhcnkAEwAAAAEBAABB
			cHBsaWNhdGlvbiBTdXBwb3J0ABAAAAABAQAATWFjUGh1biBTb2Z0
			d2FyZQoAAAABAQAAQXVyb3JhIEhEUgAABwAAAAEBAABIaXN0b3J5
			ACQAAAABAQAAMjY3RkUyRDctQjEzRS00OTYyLThBMDMtRDYzNzM5
			OUNDODdECQAAAAEBAAByZXNvdXJjZXMAAAApAAAAAQEAADdFNUVB
			OTlFLTgyQjMtNDJFNy1BOTA4LTY3NENEOTZBODk3OS5jdWJlAAAA
			KAAAAAEGAAAQAAAAIAAAACwAAAA8AAAAWAAAAHAAAACEAAAAlAAA
			AMAAAADUAAAACAAAAAQDAADcaQYAAAAAAAgAAAAEAwAAtasJAAAA
			AAAIAAAABAMAALqrCQAAAAAACAAAAAQDAADJqwkAAAAAAAgAAAAE
			AwAA+pe1BwIAAAAIAAAABAMAAE04HgkCAAAACAAAAAQDAAAgwDkV
			AgAAAAgAAAAEAwAAEZhJFQIAAAAIAAAABAMAABKYSRUCAAAACAAA
			AAQDAADfnEkVAgAAACgAAAABBgAAOAEAAEgBAABYAQAAaAEAAHgB
			AACIAQAAmAEAAKgBAAC4AQAAyAEAAAgAAAAABAAAQcKxheAAAAAY
			AAAAAQIAAAEAAAAAAAAADwAAAAAAAAAAAAAAAAAAAAgAAAAEAwAA
			CAAAAAAAAAAEAAAAAwMAAPUBAAAIAAAAAQkAAGZpbGU6Ly8vBgAA
			AAEBAABWdWxjYW4AAAgAAAAEAwAAAJAgaHQAAAAIAAAAAAQAAEHE
			Um5rAAAAJAAAAAEBAABCNUJDMjg3Qy1CQzg2LTMzOEEtQkNBRS03
			QjhCMjlCQjEzRTUYAAAAAQIAAIEAAAABAAAA7xMAAAEAAAAAAAAA
			AAAAAAEAAAABAQAALwAAAAAAAAABBQAAzAAAAP7///8BAAAAAAAA
			ABAAAAAEEAAACAEAAAAAAAAFEAAA2AEAAAAAAAAQEAAAGAIAAAAA
			AABAEAAACAIAAAAAAAACIAAA4AIAAAAAAAAFIAAAVAIAAAAAAAAQ
			IAAAZAIAAAAAAAARIAAAlAIAAAAAAAASIAAAdAIAAAAAAAATIAAA
			hAIAAAAAAAAgIAAAwAIAAAAAAAAwIAAA7AIAAAAAAAABwAAAOAIA
			AAAAAAARwAAAIAAAAAAAAAASwAAASAIAAAAAAAAQ0AAABAAAAAAA
			AAA=
			</data>
			<key>/Users/gjr/Library/Application Support/MacPhun Software/Aurora HDR/History/267FE2D7-B13E-4962-8A03-D637399CC87D/resources/D3D5C7B7-84B1-42FF-BE68-0529CD806E7E.cube</key>
			<data>
			Ym9va/gDAAAAAAQQMAAAAIaGa0qH6RTtRC/f9NmAqmIFOKigzID2
			dE0Bt2Yasxcu9AIAAAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMA
			AAADAAAAAQEAAGdqcgAHAAAAAQEAAExpYnJhcnkAEwAAAAEBAABB
			cHBsaWNhdGlvbiBTdXBwb3J0ABAAAAABAQAATWFjUGh1biBTb2Z0
			d2FyZQoAAAABAQAAQXVyb3JhIEhEUgAABwAAAAEBAABIaXN0b3J5
			ACQAAAABAQAAMjY3RkUyRDctQjEzRS00OTYyLThBMDMtRDYzNzM5
			OUNDODdECQAAAAEBAAByZXNvdXJjZXMAAAApAAAAAQEAAEQzRDVD
			N0I3LTg0QjEtNDJGRi1CRTY4LTA1MjlDRDgwNkU3RS5jdWJlAAAA
			KAAAAAEGAAAQAAAAIAAAACwAAAA8AAAAWAAAAHAAAACEAAAAlAAA
			AMAAAADUAAAACAAAAAQDAADcaQYAAAAAAAgAAAAEAwAAtasJAAAA
			AAAIAAAABAMAALqrCQAAAAAACAAAAAQDAADJqwkAAAAAAAgAAAAE
			AwAA+pe1BwIAAAAIAAAABAMAAE04HgkCAAAACAAAAAQDAAAgwDkV
			AgAAAAgAAAAEAwAAEZhJFQIAAAAIAAAABAMAABKYSRUCAAAACAAA
			AAQDAACLnUkVAgAAACgAAAABBgAAOAEAAEgBAABYAQAAaAEAAHgB
			AACIAQAAmAEAAKgBAAC4AQAAyAEAAAgAAAAABAAAQcKxheAAAAAY
			AAAAAQIAAAEAAAAAAAAADwAAAAAAAAAAAAAAAAAAAAgAAAAEAwAA
			CAAAAAAAAAAEAAAAAwMAAPUBAAAIAAAAAQkAAGZpbGU6Ly8vBgAA
			AAEBAABWdWxjYW4AAAgAAAAEAwAAAJAgaHQAAAAIAAAAAAQAAEHE
			Um5rAAAAJAAAAAEBAABCNUJDMjg3Qy1CQzg2LTMzOEEtQkNBRS03
			QjhCMjlCQjEzRTUYAAAAAQIAAIEAAAABAAAA7xMAAAEAAAAAAAAA
			AAAAAAEAAAABAQAALwAAAAAAAAABBQAAzAAAAP7///8BAAAAAAAA
			ABAAAAAEEAAACAEAAAAAAAAFEAAA2AEAAAAAAAAQEAAAGAIAAAAA
			AABAEAAACAIAAAAAAAACIAAA4AIAAAAAAAAFIAAAVAIAAAAAAAAQ
			IAAAZAIAAAAAAAARIAAAlAIAAAAAAAASIAAAdAIAAAAAAAATIAAA
			hAIAAAAAAAAgIAAAwAIAAAAAAAAwIAAA7AIAAAAAAAABwAAAOAIA
			AAAAAAARwAAAIAAAAAAAAAASwAAASAIAAAAAAAAQ0AAABAAAAAAA
			AAA=
			</data>
			<key>/Users/gjr/Library/Application Support/MacPhun Software/Aurora HDR/History/267FE2D7-B13E-4962-8A03-D637399CC87D/resources/FBAE23F4-ADA8-4BA7-9EEE-91F5CA08E370.cube</key>
			<data>
			Ym9va/gDAAAAAAQQMAAAADH+72xtPa6WQCxX28hRBY5sIk5wxSsR
			MVoEG8nXCxzU9AIAAAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMA
			AAADAAAAAQEAAGdqcgAHAAAAAQEAAExpYnJhcnkAEwAAAAEBAABB
			cHBsaWNhdGlvbiBTdXBwb3J0ABAAAAABAQAATWFjUGh1biBTb2Z0
			d2FyZQoAAAABAQAAQXVyb3JhIEhEUgAABwAAAAEBAABIaXN0b3J5
			ACQAAAABAQAAMjY3RkUyRDctQjEzRS00OTYyLThBMDMtRDYzNzM5
			OUNDODdECQAAAAEBAAByZXNvdXJjZXMAAAApAAAAAQEAAEZCQUUy
			M0Y0LUFEQTgtNEJBNy05RUVFLTkxRjVDQTA4RTM3MC5jdWJlAAAA
			KAAAAAEGAAAQAAAAIAAAACwAAAA8AAAAWAAAAHAAAACEAAAAlAAA
			AMAAAADUAAAACAAAAAQDAADcaQYAAAAAAAgAAAAEAwAAtasJAAAA
			AAAIAAAABAMAALqrCQAAAAAACAAAAAQDAADJqwkAAAAAAAgAAAAE
			AwAA+pe1BwIAAAAIAAAABAMAAE04HgkCAAAACAAAAAQDAAAgwDkV
			AgAAAAgAAAAEAwAAEZhJFQIAAAAIAAAABAMAABKYSRUCAAAACAAA
			AAQDAAC4nkkVAgAAACgAAAABBgAAOAEAAEgBAABYAQAAaAEAAHgB
			AACIAQAAmAEAAKgBAAC4AQAAyAEAAAgAAAAABAAAQcKxheAAAAAY
			AAAAAQIAAAEAAAAAAAAADwAAAAAAAAAAAAAAAAAAAAgAAAAEAwAA
			CAAAAAAAAAAEAAAAAwMAAPUBAAAIAAAAAQkAAGZpbGU6Ly8vBgAA
			AAEBAABWdWxjYW4AAAgAAAAEAwAAAJAgaHQAAAAIAAAAAAQAAEHE
			Um5rAAAAJAAAAAEBAABCNUJDMjg3Qy1CQzg2LTMzOEEtQkNBRS03
			QjhCMjlCQjEzRTUYAAAAAQIAAIEAAAABAAAA7xMAAAEAAAAAAAAA
			AAAAAAEAAAABAQAALwAAAAAAAAABBQAAzAAAAP7///8BAAAAAAAA
			ABAAAAAEEAAACAEAAAAAAAAFEAAA2AEAAAAAAAAQEAAAGAIAAAAA
			AABAEAAACAIAAAAAAAACIAAA4AIAAAAAAAAFIAAAVAIAAAAAAAAQ
			IAAAZAIAAAAAAAARIAAAlAIAAAAAAAASIAAAdAIAAAAAAAATIAAA
			hAIAAAAAAAAgIAAAwAIAAAAAAAAwIAAA7AIAAAAAAAABwAAAOAIA
			AAAAAAARwAAAIAAAAAAAAAASwAAASAIAAAAAAAAQ0AAABAAAAAAA
			AAA=
			</data>
			<key>/Users/gjr/Pictures/Photos Library.photoslibrary/private/com.apple.Photos/ExternalEditSessions/FDB92EF5-534B-4E4B-B743-42C87F0F22BD/IMG_3870.tiff</key>
			<data>
			Ym9va8ADAAAAAAQQMAAAAA8tS2GqFxaVOjrLT+8UIlnYjcNFkTYh
			dft2+gmm2UxmvAIAAAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMA
			AAADAAAAAQEAAGdqcgAIAAAAAQEAAFBpY3R1cmVzHAAAAAEBAABQ
			aG90b3MgTGlicmFyeS5waG90b3NsaWJyYXJ5BwAAAAEBAABwcml2
			YXRlABAAAAABAQAAY29tLmFwcGxlLlBob3RvcxQAAAABAQAARXh0
			ZXJuYWxFZGl0U2Vzc2lvbnMkAAAAAQEAAEZEQjkyRUY1LTUzNEIt
			NEU0Qi1CNzQzLTQyQzg3RjBGMjJCRA0AAAABAQAASU1HXzM4NzAu
			dGlmZgAAACQAAAABBgAAEAAAACAAAAAsAAAAPAAAAGAAAABwAAAA
			iAAAAKQAAADQAAAACAAAAAQDAADcaQYAAAAAAAgAAAAEAwAAtasJ
			AAAAAAAIAAAABAMAAPKrCQAAAAAACAAAAAQDAACDWhQAAAAAAAgA
			AAAEAwAAiFoUAAAAAAAIAAAABAMAAJ1aFAAAAAAACAAAAAQDAACV
			c3UBAgAAAAgAAAAEAwAAzJdJFQIAAAAIAAAABAMAAM+XSRUCAAAA
			JAAAAAEGAAAUAQAAJAEAADQBAABEAQAAVAEAAGQBAAB0AQAAhAEA
			AJQBAAAIAAAAAAQAAEHEaGl0s1loGAAAAAECAAABAAAAAAAAAA8A
			AAAAAAAAAAAAAAAAAAAIAAAABAMAAAcAAAAAAAAABAAAAAMDAAD1
			AQAACAAAAAEJAABmaWxlOi8vLwYAAAABAQAAVnVsY2FuAAAIAAAA
			BAMAAACQIGh0AAAACAAAAAAEAABBxFJuawAAACQAAAABAQAAQjVC
			QzI4N0MtQkM4Ni0zMzhBLUJDQUUtN0I4QjI5QkIxM0U1GAAAAAEC
			AACBAAAAAQAAAO8TAAABAAAAAAAAAAAAAAABAAAAAQEAAC8AAAAA
			AAAAAQUAAMwAAAD+////AQAAAAAAAAAQAAAABBAAAOgAAAAAAAAA
			BRAAAKQBAAAAAAAAEBAAAOABAAAAAAAAQBAAANABAAAAAAAAAiAA
			AKgCAAAAAAAABSAAABwCAAAAAAAAECAAACwCAAAAAAAAESAAAFwC
			AAAAAAAAEiAAADwCAAAAAAAAEyAAAEwCAAAAAAAAICAAAIgCAAAA
			AAAAMCAAALQCAAAAAAAAAcAAAAACAAAAAAAAEcAAACAAAAAAAAAA
			EsAAABACAAAAAAAAENAAAAQAAAAAAAAA
			</data>
		</dict>
		<key>cachedTexturesDict</key>
		<dict>
			<key>/Applications/Aurora HDR 2019.app/Contents/Resources/Presets/Essentials/Bright Sun.sal/Contents/resources/111F85B6-1AAD-4438-AB57-D683072CA7A7.cube</key>
			<string>31615401-5473-4D77-ABE2-9028483CF196.cube</string>
			<key>/Applications/Aurora HDR 2019.app/Contents/Resources/Presets/Essentials/Deep.sal/Contents/resources/3D360557-ABB5-4FBE-9528-8396E03C0E4E.cube</key>
			<string>FBAE23F4-ADA8-4BA7-9EEE-91F5CA08E370.cube</string>
			<key>/Applications/Aurora HDR 2019.app/Contents/Resources/Presets/Essentials/Detailed.sal/Contents/resources/04B262E8-E317-43C4-AFCB-42CD583BF971.cube</key>
			<string>D3D5C7B7-84B1-42FF-BE68-0529CD806E7E.cube</string>
			<key>/Applications/Aurora HDR 2019.app/Contents/Resources/Presets/Essentials/Glowing.sal/Contents/resources/687C0C51-6A74-4756-A24A-1107348C97C8.cube</key>
			<string>7E5EA99E-82B3-42E7-A908-674CD96A8979.cube</string>
			<key>/Applications/Aurora HDR 2019.app/Contents/Resources/Presets/Essentials/Vivid.sal/Contents/resources/544DCCC1-C65D-445B-97DA-CC5190F62354.cube</key>
			<string>35AECAA8-BB57-432F-A4F0-F8529F6F8B71.cube</string>
			<key>/Users/gjr/Library/Application Support/MacPhun Software/Aurora HDR/History/267FE2D7-B13E-4962-8A03-D637399CC87D/resources/31615401-5473-4D77-ABE2-9028483CF196.cube</key>
			<string>D1CB1022-97FF-476B-8316-05A141E67B14.cube</string>
			<key>/Users/gjr/Library/Application Support/MacPhun Software/Aurora HDR/History/267FE2D7-B13E-4962-8A03-D637399CC87D/resources/35AECAA8-BB57-432F-A4F0-F8529F6F8B71.cube</key>
			<string>1E4937FD-A25E-4198-8697-7C8CBD3ED7D7.cube</string>
			<key>/Users/gjr/Library/Application Support/MacPhun Software/Aurora HDR/History/267FE2D7-B13E-4962-8A03-D637399CC87D/resources/7E5EA99E-82B3-42E7-A908-674CD96A8979.cube</key>
			<string>8864AB3A-F041-4F3E-ADF9-6459FCFE1D82.cube</string>
			<key>/Users/gjr/Library/Application Support/MacPhun Software/Aurora HDR/History/267FE2D7-B13E-4962-8A03-D637399CC87D/resources/D3D5C7B7-84B1-42FF-BE68-0529CD806E7E.cube</key>
			<string>C84A4D5C-7E44-4648-8D98-42830824FD56.cube</string>
			<key>/Users/gjr/Library/Application Support/MacPhun Software/Aurora HDR/History/267FE2D7-B13E-4962-8A03-D637399CC87D/resources/FBAE23F4-ADA8-4BA7-9EEE-91F5CA08E370.cube</key>
			<string>10A745CE-E5A6-48A6-99F4-AA31CABF3EB5.cube</string>
			<key>/Users/gjr/Pictures/Photos Library.photoslibrary/private/com.apple.Photos/ExternalEditSessions/FDB92EF5-534B-4E4B-B743-42C87F0F22BD/IMG_3870.tiff</key>
			<string>B70C98EE-DAD8-4EA9-80B7-BE9A6E548D50.tiff</string>
		</dict>
		<key>currentLevelOfHistory</key>
		<integer>11</integer>
		<key>historyDicts</key>
		<array>
			<dict>
				<key>actionName</key>
				<string>Preset Bright Sun: Activated</string>
				<key>hash</key>
				<string>e34877a19100a700716aad15a8478d7c:e864eb07501d0b9fe971b992b92179b4:0:1</string>
				<key>uuid</key>
				<string>B0622F5B-3921-4DE9-8DB5-29F02453AB14</string>
			</dict>
			<dict>
				<key>actionName</key>
				<string>Crop: Apply</string>
				<key>hash</key>
				<string>9b46fd719d4d973599dcdc1ad162eed1:e864eb07501d0b9fe971b992b92179b4:0:1</string>
				<key>uuid</key>
				<string>A9707CE7-0BD9-4A1C-BA94-B3D33309E984</string>
			</dict>
			<dict>
				<key>actionName</key>
				<string>Preset Glowing: Activated</string>
				<key>cropInfo</key>
				<dict>
					<key>aspectRatioHeight</key>
					<real>0.0</real>
					<key>aspectRatioWidht</key>
					<real>0.0</real>
					<key>cropRectHeight</key>
					<real>1925</real>
					<key>cropRectWidht</key>
					<real>2403</real>
					<key>cropRectX</key>
					<real>0.0</real>
					<key>cropRectY</key>
					<real>40</real>
					<key>guidesType</key>
					<integer>0</integer>
					<key>imageSizeHeight</key>
					<real>3024</real>
					<key>imageSizeWidht</key>
					<real>4032</real>
					<key>rotation</key>
					<real>0.0</real>
				</dict>
				<key>hash</key>
				<string>9b46fd719d4d973599dcdc1ad162eed1:e864eb07501d0b9fe971b992b92179b4:0:371b50ea491ca04f134c7b677bf69497:1</string>
				<key>uuid</key>
				<string>7C069EED-CA56-46F3-B9AF-0C68DCEE9666</string>
			</dict>
			<dict>
				<key>actionName</key>
				<string>Preset HDR Look 1: Activated</string>
				<key>cropInfo</key>
				<dict>
					<key>aspectRatioHeight</key>
					<real>0.0</real>
					<key>aspectRatioWidht</key>
					<real>0.0</real>
					<key>cropRectHeight</key>
					<real>1925</real>
					<key>cropRectWidht</key>
					<real>2403</real>
					<key>cropRectX</key>
					<real>0.0</real>
					<key>cropRectY</key>
					<real>40</real>
					<key>guidesType</key>
					<integer>0</integer>
					<key>imageSizeHeight</key>
					<real>3024</real>
					<key>imageSizeWidht</key>
					<real>4032</real>
					<key>rotation</key>
					<real>0.0</real>
				</dict>
				<key>hash</key>
				<string>aea873c053c096d01efec0fe535d5178:e864eb07501d0b9fe971b992b92179b4:0:371b50ea491ca04f134c7b677bf69497:1</string>
				<key>uuid</key>
				<string>E915FD94-8504-48C7-9FE5-2B6A4C9B2836</string>
			</dict>
			<dict>
				<key>actionName</key>
				<string>Preset HDR Look 2: Activated</string>
				<key>cropInfo</key>
				<dict>
					<key>aspectRatioHeight</key>
					<real>0.0</real>
					<key>aspectRatioWidht</key>
					<real>0.0</real>
					<key>cropRectHeight</key>
					<real>1925</real>
					<key>cropRectWidht</key>
					<real>2403</real>
					<key>cropRectX</key>
					<real>0.0</real>
					<key>cropRectY</key>
					<real>40</real>
					<key>guidesType</key>
					<integer>0</integer>
					<key>imageSizeHeight</key>
					<real>3024</real>
					<key>imageSizeWidht</key>
					<real>4032</real>
					<key>rotation</key>
					<real>0.0</real>
				</dict>
				<key>hash</key>
				<string>c8fcfc60d421b80afcc9244858e69a19:e864eb07501d0b9fe971b992b92179b4:0:371b50ea491ca04f134c7b677bf69497:1</string>
				<key>uuid</key>
				<string>ECB4D004-823F-42A1-9698-69A6F87CA7CC</string>
			</dict>
			<dict>
				<key>actionName</key>
				<string>Preset Detailed: Activated</string>
				<key>cropInfo</key>
				<dict>
					<key>aspectRatioHeight</key>
					<real>0.0</real>
					<key>aspectRatioWidht</key>
					<real>0.0</real>
					<key>cropRectHeight</key>
					<real>1925</real>
					<key>cropRectWidht</key>
					<real>2403</real>
					<key>cropRectX</key>
					<real>0.0</real>
					<key>cropRectY</key>
					<real>40</real>
					<key>guidesType</key>
					<integer>0</integer>
					<key>imageSizeHeight</key>
					<real>3024</real>
					<key>imageSizeWidht</key>
					<real>4032</real>
					<key>rotation</key>
					<real>0.0</real>
				</dict>
				<key>hash</key>
				<string>d2a912fa46411bc5768c6cec19a05fed:e864eb07501d0b9fe971b992b92179b4:0:371b50ea491ca04f134c7b677bf69497:1</string>
				<key>uuid</key>
				<string>61A56865-49D0-4113-8764-6041E3EDC94F</string>
			</dict>
			<dict>
				<key>actionName</key>
				<string>Preset Vivid: Activated</string>
				<key>cropInfo</key>
				<dict>
					<key>aspectRatioHeight</key>
					<real>0.0</real>
					<key>aspectRatioWidht</key>
					<real>0.0</real>
					<key>cropRectHeight</key>
					<real>1925</real>
					<key>cropRectWidht</key>
					<real>2403</real>
					<key>cropRectX</key>
					<real>0.0</real>
					<key>cropRectY</key>
					<real>40</real>
					<key>guidesType</key>
					<integer>0</integer>
					<key>imageSizeHeight</key>
					<real>3024</real>
					<key>imageSizeWidht</key>
					<real>4032</real>
					<key>rotation</key>
					<real>0.0</real>
				</dict>
				<key>hash</key>
				<string>2cc93c4934f99d35c00d74b7fb8c6ca3:e864eb07501d0b9fe971b992b92179b4:0:371b50ea491ca04f134c7b677bf69497:1</string>
				<key>uuid</key>
				<string>3FE2A666-F9B6-48CA-BD1C-17360A38423D</string>
			</dict>
			<dict>
				<key>actionName</key>
				<string>Preset Natural: Activated</string>
				<key>cropInfo</key>
				<dict>
					<key>aspectRatioHeight</key>
					<real>0.0</real>
					<key>aspectRatioWidht</key>
					<real>0.0</real>
					<key>cropRectHeight</key>
					<real>1925</real>
					<key>cropRectWidht</key>
					<real>2403</real>
					<key>cropRectX</key>
					<real>0.0</real>
					<key>cropRectY</key>
					<real>40</real>
					<key>guidesType</key>
					<integer>0</integer>
					<key>imageSizeHeight</key>
					<real>3024</real>
					<key>imageSizeWidht</key>
					<real>4032</real>
					<key>rotation</key>
					<real>0.0</real>
				</dict>
				<key>hash</key>
				<string>35c429db45ab9e0bad8211a0305fdf2e:e864eb07501d0b9fe971b992b92179b4:0:371b50ea491ca04f134c7b677bf69497:1</string>
				<key>uuid</key>
				<string>C36D44E8-B322-48BB-8AD8-23C885F5D39E</string>
			</dict>
			<dict>
				<key>actionName</key>
				<string>Preset Vivid: Activated</string>
				<key>cropInfo</key>
				<dict>
					<key>aspectRatioHeight</key>
					<real>0.0</real>
					<key>aspectRatioWidht</key>
					<real>0.0</real>
					<key>cropRectHeight</key>
					<real>1925</real>
					<key>cropRectWidht</key>
					<real>2403</real>
					<key>cropRectX</key>
					<real>0.0</real>
					<key>cropRectY</key>
					<real>40</real>
					<key>guidesType</key>
					<integer>0</integer>
					<key>imageSizeHeight</key>
					<real>3024</real>
					<key>imageSizeWidht</key>
					<real>4032</real>
					<key>rotation</key>
					<real>0.0</real>
				</dict>
				<key>hash</key>
				<string>f0cb7c2bf26aace1adf8d712521c00f2:e864eb07501d0b9fe971b992b92179b4:0:371b50ea491ca04f134c7b677bf69497:1</string>
				<key>uuid</key>
				<string>0836C252-12B9-46FD-8D79-F20CDAC10E78</string>
			</dict>
			<dict>
				<key>actionName</key>
				<string>Preset Bright Sun: Activated</string>
				<key>cropInfo</key>
				<dict>
					<key>aspectRatioHeight</key>
					<real>0.0</real>
					<key>aspectRatioWidht</key>
					<real>0.0</real>
					<key>cropRectHeight</key>
					<real>1925</real>
					<key>cropRectWidht</key>
					<real>2403</real>
					<key>cropRectX</key>
					<real>0.0</real>
					<key>cropRectY</key>
					<real>40</real>
					<key>guidesType</key>
					<integer>0</integer>
					<key>imageSizeHeight</key>
					<real>3024</real>
					<key>imageSizeWidht</key>
					<real>4032</real>
					<key>rotation</key>
					<real>0.0</real>
				</dict>
				<key>hash</key>
				<string>35c429db45ab9e0bad8211a0305fdf2e:e864eb07501d0b9fe971b992b92179b4:0:371b50ea491ca04f134c7b677bf69497:1</string>
				<key>uuid</key>
				<string>01281782-3E97-42F1-82F3-FF108193033A</string>
			</dict>
			<dict>
				<key>actionName</key>
				<string>Preset Deep: Activated</string>
				<key>cropInfo</key>
				<dict>
					<key>aspectRatioHeight</key>
					<real>0.0</real>
					<key>aspectRatioWidht</key>
					<real>0.0</real>
					<key>cropRectHeight</key>
					<real>1925</real>
					<key>cropRectWidht</key>
					<real>2403</real>
					<key>cropRectX</key>
					<real>0.0</real>
					<key>cropRectY</key>
					<real>40</real>
					<key>guidesType</key>
					<integer>0</integer>
					<key>imageSizeHeight</key>
					<real>3024</real>
					<key>imageSizeWidht</key>
					<real>4032</real>
					<key>rotation</key>
					<real>0.0</real>
				</dict>
				<key>hash</key>
				<string>9b46fd719d4d973599dcdc1ad162eed1:e864eb07501d0b9fe971b992b92179b4:0:371b50ea491ca04f134c7b677bf69497:1</string>
				<key>uuid</key>
				<string>84797840-B8D7-4F1E-80BD-8634BEA45EE5</string>
			</dict>
			<dict>
				<key>actionName</key>
				<string>--FORCE SAVE--</string>
				<key>cropInfo</key>
				<dict>
					<key>aspectRatioHeight</key>
					<real>0.0</real>
					<key>aspectRatioWidht</key>
					<real>0.0</real>
					<key>cropRectHeight</key>
					<real>1925</real>
					<key>cropRectWidht</key>
					<real>2403</real>
					<key>cropRectX</key>
					<real>0.0</real>
					<key>cropRectY</key>
					<real>40</real>
					<key>guidesType</key>
					<integer>0</integer>
					<key>imageSizeHeight</key>
					<real>3024</real>
					<key>imageSizeWidht</key>
					<real>4032</real>
					<key>rotation</key>
					<real>0.0</real>
				</dict>
				<key>hash</key>
				<string>c01e89e86021c823eb3306dbf29f8b93:e864eb07501d0b9fe971b992b92179b4:0:371b50ea491ca04f134c7b677bf69497:1</string>
				<key>uuid</key>
				<string>1C23E9A7-6774-4930-BE8A-7E2CE132099F</string>
			</dict>
		</array>
	</dict>
	<key>MPMainBundleIdentifier</key>
	<string>com.macphun.aurorahdr2019</string>
	<key>MPOriginalImagePath</key>
	<string>/Users/gjr/Pictures/Photos Library.photoslibrary/private/com.apple.Photos/ExternalEditSessions/FDB92EF5-534B-4E4B-B743-42C87F0F22BD/IMG_3870.tiff</string>
	<key>MPQuickLookThumbnailSize</key>
	<string>{1700, 1362}</string>
	<key>MPSaveHistoryToDocument</key>
	<true/>
	<key>MPdeleteOrigResources</key>
	<true/>
	<key>kMPAurDocumentHDRSettingsKey</key>
	<dict>
		<key>_alignment</key>
		<false/>
		<key>_chromaticAbberationReduction</key>
		<false/>
		<key>_colorDenoise</key>
		<true/>
		<key>_fullOpen</key>
		<false/>
		<key>_ghostAmount</key>
		<integer>1</integer>
		<key>_ghostReduction</key>
		<false/>
		<key>_ghostRefImageIdx</key>
		<integer>0</integer>
		<key>_singleImageToneMapping</key>
		<true/>
	</dict>
	<key>kMPBracketsPaths</key>
	<array>
		<string>/Users/gjr/Pictures/Photos Library.photoslibrary/private/com.apple.Photos/ExternalEditSessions/FDB92EF5-534B-4E4B-B743-42C87F0F22BD/IMG_3870.tiff</string>
	</array>
</dict>
</plist>
